[2018-04-06 10:07] CrisMon-01 opened #2 "Is that Service persistent?"
I see you haven't create any data volumes to this, if you sremove the container is that data accessible again?

[2018-04-06 10:38] narendravaghela commented on #2
You can use the configuration option to store your data, and it will be persisted even if you remove the container and install again.

[2018-05-23 04:50] antowan opened #3 "Apache server - Forbidden access"
I have the following error message from the Apache server just after running the containers.
Once I connect in the browser to the localhost.

[code]

I have changed the permission and ownership of the /var/www/html folder within the container to www-data but the issue persists.

Do you have any workaround ?
Thank you for your help.

[2018-05-24 11:56] narendravaghela commented on #3
It should work without any issue. On which platform are you trying this stack?

[2018-05-25 01:45] antowan commented on #3
In am running Docker (Docker version 18.03.1-ce) on Windows 10.
When I check the docker container logs for the web server I have no specific error.
Just the following but it is not related.
AH00558: apache2: Could not reliably determine the server's fully qualified domain name, using 172.21.0.5. Set the 'ServerName' directive globally to suppress this message

Any .htaccess or user permission file

[2018-05-28 05:48] narendravaghela commented on #3
Nothing should be changed. Can you check that there is no other apache2 in your system? Or may be another application which uses the same address and port?

[2018-05-28 05:49] #2 closed

[2018-05-31 08:37] antowan commented on #3
Well I still have the issue on my docker installation on Windows, I will try later if I can on a Linux based machine.
Thank you anyway for your replies.

[2018-05-31 08:37] #3 closed

[2018-08-31 15:49] komunamu opened #6 "PHP extension for Radis"
Thank you for sharing the docker compose lamp.

I tried to use Radis in my PHP code and I found there is no PHP extension for Radis in PHPInfo().

How can I access the Radis from my PHP code? Do I have to install the PHP extension for Radis or is there another way to access it?

Thank you for your help in advance.

[2018-08-31 21:43] igramnet opened #7 "Folder www to var/www/html - not copy"
Hello. Thank you for your dockerfile.

I have 1 problem and 1 question.

Problem: after docker-compose up files from local folder www (phpinfo.php, index.php) do not copy to var/www/html/. I tried open png-webserver container and didn't see these files.

Question: how can I import my SQL file automatically?

[2018-09-11 13:00] narendravaghela commented on #7
Hello @igramnet,

Do you have sharing enabled? Sometimes it requires permissions to sync files.

Regarding your question, you need to add your sql import commands in `bin/mysql/Dockerfile`.

[2018-09-11 13:08] narendravaghela commented on #6
Hi @komunamu ,

You need to install php redis extension into your webserver.

[2018-09-25 20:12] vosaan opened #8 "403 Forbidden"
Hello! I am new with Docker. Two moments:

1. In order with README I`ve fulfilled all the points,but when I go to http://localhost, I see 403 page with text:

How can i solve this problem
(By the way, phpMyAdmin (http://localhost:8080) works fine for me)

2. Please, explain my how can I add new sites (virtual hosts). For example, I want to add test-dev.local and wordpress-dev.local

[2018-09-26 05:33] narendravaghela commented on #8
Hey @vosaan
1. Which version of PHP image do you use? Can you check the log files under `logs/apache2` directory to see what exactly going on?
2. You can add the virtual host configuration files inside `config/vhosts` and restart the docker.

[2018-09-26 14:58] vosaan commented on #8
Hello. PHP 5.6.
Apache log (after sudo docker-compose up -d):

AH00558: apache2: Could not reliably determine the server's fully qualified domain name, using 172.19.0.4. Set the 'ServerName' directive globally to suppress this message
[Wed Sep 26 14:53:41.933848 2018] [mpm_prefork:notice] [pid 1] AH00163: Apache/2.4.25 (Debian) PHP/5.6.38 configured -- resuming normal operations
[Wed Sep 26 14:53:

[2018-09-27 03:33] narendravaghela commented on #8
Try adding following line in `5.6.x/bin/webserver/Dockerfile`

[code]

Also, change the owner of `/var/www/html` by,
[code]

Rebuild!!

[2018-09-27 06:51] vosaan commented on #8
Hello! My actions:
1. Delete containers: `sudo docker rm $(sudo docker ps -aq)`
2. Delete images: `sudo docker rmi $(sudo docker images -q)`
3. Add to the end of `5.6.x/bin/webserver/Dockerfile` strings:

4. Run Docker: `sudo docker-compose up -d`

Unfortunately, result is the same: 403.
Apache error log:
AH00558: apache2: Could not reliably determine the server's fully qualified domain name, usin

[2018-09-27 07:31] narendravaghela commented on #8
On which OS are you running this stack?

[2018-09-27 08:12] vosaan commented on #8
Ubuntu 18.04 (x64)

[2018-09-27 11:45] narendravaghela commented on #8
May be it is a permission issue on your mounted volume.
Try to allow read/write permission to files on your host machine and try again.

[2018-09-27 17:36] vosaan commented on #8
Ok, thank you, I'll try.

[2018-10-10 18:51] sasidhar79 opened #9 "undefined function mysqli_connect()"
Hi

When I try to connect from PHP to the mysql database i get the following error

" Fatal error: Call to undefined function mysqli_connect() in /var/www/html/dbtest.php"

Thank you

-sasi

[2018-10-10 19:45] sasidhar79 commented on #9
Please close this issue i have resolved it

[2018-10-12 03:44] narendravaghela commented on #9
Great, what was that by the way?

[2018-10-12 03:44] #9 closed

[2018-10-30 11:44] davidsekielyk opened #10 "MySQL connecttion failed"
Hi, I am a beginner in docker and I am having the following problem.
I can not connect to mysql using mysql_connect in the php file of index.php or test_db.php
try with the data in the file docker-compose.yml try to change the parameters but there is no case.

[2018-10-30 13:30] narendravaghela commented on #10
Which version are you using? I mean there are 3 branches for the different version of PHP.
As a quick note, you need to use `mysql` as host to connect with mysql.

[2018-10-30 13:40] davidsekielyk commented on #10
Im using version 3

  webserver:
    build:
      context: ./bin/webserver
    container_name: 'png-webserver'
    restart: 'always'
    ports:
      - "80:80"
      - "443:443"
    links:
      - mysql
    volumes:
      - ${DOCUMENT_ROOT-./www}:/var/www/html
      - ${PHP_INI-./config/php/php.ini}:/usr/local/etc/php/php.ini
      - ${VHOSTS_DIR-./config/vhosts}:/etc/apache2/sites-enabled
      -

[2018-10-30 13:44] narendravaghela commented on #10
Please use appropriate branch first.
And what errors are you getting for the above connection?

[2018-10-30 14:13] davidsekielyk commented on #10
Sorry. I had not seen that you had to choose a branch. I have no problems now

[2018-10-30 14:23] narendravaghela commented on #10
Great!!

[2018-10-30 14:23] #10 closed

[2018-10-30 23:33] dragonwebeu opened #11 "Can't run it on Fedora 28"
For some weird reason, I can't run it on Fedora.
I can only access port 8080 and 6379, other ports are not available.  After docker-compose up http://localhost gives me  "Unable to connect"

Any idea how to fix this?

[2018-10-31 05:03] narendravaghela commented on #11
- Please make sure the port 80 is not being used by other applications.
- Try to run `docker-compose up` without `-d` and check if there is any error/warning on output.

[2018-11-15 23:49] dragonwebeu commented on #11
The fault was not in port but with user rights/cmod and on Fedora there was something with mysql CONTAINER, which is super weird. I had too many problems with Fedora and changed to Ubuntu now everything works just fine!

[2018-11-16 05:58] narendravaghela commented on #11
Glad to hear that!

[2018-11-16 05:58] #11 closed

[2018-11-17 18:35] NickRaleigh opened #12 "Can't connect to mysql via Wordpress"
Hello,
Can't seem to get Wordpress to work with this stack. I can create a new database via phpmyadmin, but Wordpress cannot find the docker container db. I've tried modifying both the `docker-compose.yml` file as well as the `wp-config.php`.

![image](https://user-images.githubusercontent.com/23318932/48664492-6eb44980-ea5c-11e8-931b-7689d9180cd9.png)

`docker-compose.yml`:
[code]

`wp-config.php

[2018-11-17 19:01] wi1w commented on #12
Modify yors wp-config
define('DB_HOST', 'mysql');

[2018-11-17 19:05] NickRaleigh commented on #12
@wi1w thanks, it's fixed!

[2018-11-17 21:29] #12 closed

[2018-11-18 11:05] odboy opened #13 "install xdebug failed on php5"
Hi there,
    I wont to build a lamp docker with xdebug, but I haven't make it. And then I found your sharing. Thank you in advance.

   error in `7.2.x`:
[code]
error in `5.6.x`:
[code]

[2018-11-18 15:15] wi1w commented on #13
lLook here , please

https://github.com/laradock/laradock/issues/1315#issuecomment-380492758

[2018-12-15 19:51] andreipa opened #14 "feat: Add extension php-imagick"
I am not sure how to amend the Docker file to add the extension Imagick.

Can someone help with this issue?
best,

Andrei

[2018-12-17 06:14] narendravaghela commented on #14
@andreipa
You need to add extension installation command in `docker-compose-lamp/bin/webserver/Dockerfile`.

You can see other extensions for reference in that file. After adding your command, you need to rebuild your image.

[2018-12-20 09:17] robertnac opened #15 "Container does not start."
Container does not start. I get the following output:

E: Package 'apt-utils' has no installation candidate
E: Unable to locate package nano
E: Unable to locate package wget
E: Package 'dialog' has no installation candidate
E: Package 'build-essential' has no installation candidate
E: Unable to locate package git
E: Unable to locate package libcurl3-dev
E: Unable to locate package zip
ERROR: Servi

[2018-12-21 06:47] robertnac commented on #15
Hello, the latest. 7?

---
sent from phone - pls excuse typos and brevity

Am Fr., 21. Dez. 2018, 06:51 hat Narendra Vaghela <notifications@github.com>
geschrieben:

[2018-12-28 20:01] rohdef commented on #15
I get something more or less identical, checkout out 7.2.x as described in the readme:

[code]

[2018-12-29 12:53] rohdef commented on #15
Tried doing an install on a complete clean system, output changed slightly. It also had the following warnings:

[code]

[2018-12-29 13:30] rohdef commented on #15
Ooook, turns out the docker in the apt repositories is outdated. Got it up and running now. I uninstalled the docker and docker-composer from apt, then installed using snap in stead

[2019-01-03 12:21] Abhinav1217 opened #16 "Bind error in phpmyadmin"
I have followed instruction in your readme and currently this is unmodified execution of docker-compose up. Everything goes fine untill it closes down at this point. I have made sure I stopped any host processes which could conflict with it like host version of httpd, nginx, php-fpm, mariadb. I am new to docker and this is one of my first attempts to have a docker development environment.

[code]

[2019-01-04 05:34] narendravaghela commented on #16
Thanks, @Abhinav1217 for pointing out.
I have updated the readme file.

[2019-01-04 14:41] Abhinav1217 commented on #16
I figure out the problem, I had another docker process occupying the 8080 port. Just don't understand why it didn't show up on netstat command but when I pruned all the images and started from the scratch, It now worked.

I have to say, among other docker lamp repos I tried before this, This is most simple and explanatory repo. I could actually understand enough to add a few php extensions and rep

[2019-01-04 14:41] #16 closed

[2019-01-04 14:54] narendravaghela commented on #16
Thanks @Abhinav1217
I am glad to know that it is helping people like you and the developer community.

[2019-01-10 00:31] ricardolmsilva opened #18 "Virtual Hosts"
Hello, thank you for share your project with us.

Im trying to configure virtual hosts, but im with problems. I created 2 directories site1 and site2 inside www directory each one with a index.html inside. After that I was in virtual host config file and configured 2 virtual hosts.
Finally I raised my containers and tried access to the hosts, but it doesn't work and if I type localhost, it still w

[2019-01-10 04:51] narendravaghela commented on #18
You need to add host entries for these virtual hosts.

1. Open hosts file using `sudo nano /etc/hosts`.
2. Add following entries at the end of file and save.
[code]

[2019-01-10 14:57] ricardolmsilva commented on #18
Thank you, it worked.

Just another question, why localhost still working  and open site1?

I know, or I think I know, localhost is always watching in port 80. But why open site1? It should be redirecting to root, that is www, right?

![image](https://user-images.githubusercontent.com/34528668/50976349-a46b3100-14e7-11e9-8614-d7939eabf0af.png)

[2019-01-11 06:03] narendravaghela commented on #18
In most of the Operating Systems, the `localhost` is set to point to the 127.0.0.1 address. That's why it is working.

[2019-01-11 06:03] #18 closed

[2019-01-15 13:16] Silassiai opened #19 "load balancer nginx"
can you ad a load blancer and reverse proxy with nginx?

[2019-01-16 05:18] narendravaghela commented on #19
@Silassiai This environment is configured to run with Apache server.
You can take a reference of this package and build your own with nginx server with required libraries and load balancer.

[2019-01-16 05:18] #19 closed

[2019-03-01 07:58] namnguyen2091 opened #21 "How to access php myadmin?"
This is the first time I ran docker composer, please let me know how to access php myadmin from browser?

I can access http://localhost/ but not http://localhost/phpmyadmin.

[2019-03-01 08:05] namnguyen2091 commented on #21
So sorry, my mistake.

[2019-03-01 08:05] #21 closed

[2019-03-01 08:34] namnguyen2091 opened #22 "How do I restart webserver?"
Sorry, I dont know how to restart webserver.

[2019-03-02 09:48] narendravaghela commented on #22
There are a few ways to do so.

### Restart the container
Simply, restart the containers via `docker-compose`.
[code]

### Restart the Apache from the container
You can log in to the web server container. Run following command from your terminal,
[code]
Once you are in the container, run the restart command,
[code]

### Using the Kitematic (GUI for docker images)
Open the Kitematic and look for th

[2019-03-02 15:55] Cheslia commented on #22
I can get the container up and running, no issues.  I am also getting the permission issue so I tried to SSH using Putty to get to the container so that I could execute linux commands but even Putty's SSH is getting refused when I try to reach it at 127.0.0.1.  How do you get inside the container to execute commands?  On my work environment I bring up a totally separate docker linux box in the com

[2019-03-04 02:08] namnguyen2091 commented on #22
@narendravaghela I did it, thanks so much!

[2019-03-06 14:18] #22 closed

[2019-04-15 22:52] Machacek76 opened #23 "Access to paret folder"
Hi how to including php files from parent subfolders. I must include ../src/bootstrap.php  in index.php

- www/index.php
- src/bootstrap.php
- vendor/...
...
...
...

`<VirtualHost *:80>`
`    ServerAdmin webmaster@localhost`
`    DocumentRoot "/var/www/html/www"`
`    ServerName localhost`
`	<Directory "/var/www/html/">`
`		AllowOverride all`
`	</Directory>`
`</VirtualHost>`

`    volumes: `
`

[2019-04-16 04:47] narendravaghela commented on #23
Hello @Machacek76

The current setup is configured to sync the default www root directory with the host machine. So, you can update your project directory structure in a way that you `index.php` file and `src` directory are on the same level.

Consider the below directory structure of your project on the host machine, and let's say your path to the directory is `/home/username/projects`

* /home/u

[2019-04-16 19:40] Machacek76 commented on #23
Hello **@narendravaghela**
it's working,
thank you for help

[2019-04-17 04:53] narendravaghela commented on #23
Glad to know it's working!

[2019-04-17 04:53] #23 closed

[2019-04-18 13:05] developersingh commented on #8
hi, I have added the following command at the end of webserver dockerfile
RUN chown -R www-data:www-data /var/www/html
but the owner of /var/www/html/ is still root.

I have copied my application ( which is in laravel) under /var/www/html folder and the login page does come but after the post it gives 419 error. After some research, I figured out that owner of /var/www/html should be www-data. and

[2019-04-18 13:08] developersingh opened #24 "directory permissions"
hi, I have added the following command at the end of webserver dockerfile
RUN chown -R www-data:www-data /var/www/html
but the owner of /var/www/html/ is still root.

I am running docker on windows 10.

I have copied my application ( which is in laravel) under /var/www/html folder and the login page does come but after the post it gives 419 error. After some research, I figured out that owner of /

[2019-04-18 13:17] narendravaghela commented on #8
@developersingh
If you see, the error says `/svg/403.svg`. This is not related to permission. Can you please verify the URL generation in your laravel application or the directory path in your virtual host?

[2019-04-18 13:19] narendravaghela commented on #24
@developersingh
If you see, the error says /svg/403.svg. This is not related to permission. Can you please verify the URL generation in your laravel application or the directory path in your virtual host?

[2019-04-18 13:21] developersingh commented on #24
DOCUMENT_ROOT=./www
VHOSTS_DIR=./config/vhosts
APACHE_LOG_DIR=./logs/apache2
PHP_INI=./config/php/php.ini
MYSQL_DATA_DIR=./data/mysql
MYSQL_LOG_DIR=./logs/mysql

are same in sample.env

[2019-04-18 13:23] developersingh commented on #24
https://stackoverflow.com/questions/18724718/error-403-in-loading-resources-like-css-and-js-in-my-index-php suggests that Tip: I usually make the apache/nginx's user group owner of that kind of folders and give 775 permission to it.

And I am not able to do that.

[2019-04-18 13:29] narendravaghela commented on #24
Are you running your laravel app in sub directory or root directory?
Regarding the permission, you need to check with the host machine as well. On which OS are you running this stack?

[2019-04-18 13:32] developersingh commented on #24
windows 10

laravel app /var/www/html/feeapp directory

[2019-04-18 13:34] narendravaghela commented on #24
Try to create a new virtual host which points to `/var/www/html/feeapp` directory.
See `./config/vhosts` for reference.

[2019-04-18 13:59] developersingh commented on #24
still  419 error
Sorry, your session has expired. Please refresh and try again.

[2019-04-18 13:59] developersingh commented on #24
why is chown command not working?

[2019-04-22 18:12] sashuu6 opened #25 "Access denied"
I download the branch 7.2 and docker-compose up it.
But, I cannot access database. Can't open PHPMyaadmin.
Everywhere I am getting the error:-

Warning:  mysqli_connect(): (HY000/1045): Access denied for user  'root'@'172.28.0.3' (using password: YES) in /var/www/html/index.php on  line 34
--

MySQL connecttion failed: Access denied for user 'root'@'172.28.0.3' (using password: YES)

[2019-04-22 18:18] narendravaghela commented on #25
Check two things:
1. Make sure the phpmyadmin container is running.
2. You need to pass `mysql` as a hostname instead of `localhost`

[2019-04-22 19:49] sashuu6 commented on #25
Can you explain in detail please? I am just a novice in docker.

[2019-04-23 19:31] theonlyakhil commented on #25
The phpmyadmin container is working just fine.
I have done everything correct

[2019-04-25 14:36] sashuu6 commented on #25
I have fixed the error. Thank you

[2019-04-25 14:36] #25 closed

[2019-04-26 13:48] johnoliv opened #26 "Initialize mysql with *.sql script"
I tried in several different ways to initialize the MySQL with *.sql script.
I tried to alter the Dockerfile or just alter the compose.yml, and, just not work...

What the correct way to initialize MySQL with a *.sql script in this project?
Thanks a lot.

[2019-04-29 14:46] marcelomaccoy opened #27 "mysql PDO - Uncaught Error: Call to a member function exec()"
Hello, how could I install or activate mysql PDO connection in PHP.ini or docker-compose.yml?

[2019-05-01 01:43] danilopimenta commented on #15
@robertnac and @narendravaghela
try this on [https://github.com/sprintcube/docker-compose-lamp/blob/88e0b2271ca8057ae74060f69c530074c564419d/bin/webserver/Dockerfile#L2](bin/webserver/Dockerfile)

[code]

[2019-05-03 17:26] #27 closed

[2019-05-08 19:55] Zibulon opened #28 "PHPMyAdmin"
I tried to connect by default credentials root/tiger, but have this problem:

Cannot log in to the MySQL server

mysqli_real_connect(): The server requested authentication method unknown to the client [caching_sha2_password]
 mysqli_real_connect(): (HY000/2054): The server requested authentication method unknown to the client

[2019-05-10 09:10] pin147 commented on #28
Instead of `localhost` use `mysql`. Yes, it's weird but heh.
I had the same problem when I tried to install WP.

[2019-05-16 07:37] codeworks commented on #14
Adding this in `docker-compose-lamp/bin/webserver/Dockerfile` the did the trick for me:

[code]

[2019-05-18 17:57] KappaDistributive commented on #28
@pin147 Can you elaborate? I have the same problem as Zibulon but don't know what you mean by 'using mysql'.

[2019-05-20 06:05] narendravaghela commented on #28
@KappaDistributive
It's a hostname of MySQL server. See the following example,

[code]

See the connection function, we are passing `mysql` as a first parameter and that is a hostname. Generally, we use `localhost` for most of the cases, but in this case, it is different.

[2019-05-20 06:16] #28 closed

[2019-05-20 16:03] yapsr commented on #26
@johnoliv

In stead of mysql I use mariadb: https://hub.docker.com/_/mariadb/#initializing-a-fresh-instance

[code]

[2019-05-31 03:00] batisuoc opened #29 "Not allowed to connect to this MySQL server"
- When i installed all container and started lamp server , in database connection in php file it show the connection error :
"Error: Unable to connect to MySQL. Debugging errno: 1130 Debugging error: Host '172.24.0.4' is not allowed to connect to this MySQL server"
- In phpmyadmin when i try to log in and it show the same error :
"mysqli_real_connect(): (HY000/1130): Host '172.24.0.4' is not allow

[2019-05-31 15:47] rikipm opened #31 "No PMA configured"
I pull repository, set my config, call `docker-compose up -d` command, go to phpmyadmin and see error

[code]

Problem is

[code]

I googled and find what script `phpmyadmin\sql\create_tables.sql` file from phpmyadmin directory must be launched to create pma database. I tried to launch from TTY of phpmyadmin container, but it dont have mysql installed.
I tried to import this file from phpmyadmin w

[2019-05-31 16:37] rikipm commented on #31
I solved this issue by giving "docker" user root permission through php and imported `phpmyadmin\sql\create_tables.sql`. It works, but I think it wrong decisionm I still cant login as root in phpmyadmin

[2019-06-15 10:24] markat1 opened #32 "Unable to connect to the webserver."
I'm having trouble connecting to the webserver on my Windows 10 pro version 1809 (build 17763.557). Following issue shows what's wrong:

`docker-compose-lamp [7.1.x ≡]> docker-compose up -d
Creating network "docker-compose-lamp_default" with the default driver
Creating sc-redis  ... done
Creating 5.7-mysql ... done
Creating sc-phpmyadmin ...
Creating 7.1.x-webserver ... error

ERROR: for 7.1.x-web

[2019-06-15 10:42] markat1 commented on #32
So I tried  `Get-NetTCPConnection -LocalPort 80 | Format-List`  and figured out that it was my java that was occupying port 80. I removed java and ran docker compose again. Seems like that worked.

docker-compose-lamp [7.1.x ≡]> docker-compose up -d
Creating network "docker-compose-lamp_default" with the default driver
Creating sc-redis  ... done
Creating 5.7-mysql ... done
Creating sc-phpmyadmin

[2019-06-15 10:42] #32 closed

[2019-06-15 11:14] wi1w commented on #29
Hi.
For connecting to db you need use container name. In this case is mysql instead ip adress

[2019-06-15 11:19] wi1w commented on #26
You can use mysql dump for starting with existing project.
Basically, attaching dump in mysql container is all you need.

mariadb:
    image: mariadb:10.3
    volumes:
      - ./dump.sql:/docker-entrypoint-initdb.d/dump.sql
   restart: 'always'
   ports:
      - "3306:3306"

In my case is mariadb, you can use what ever you want

[2019-06-19 10:30] paskuale75 opened #33 "how can import a mydb.sql from mysql shell ?"
in which folder can I store my db-file.sql and then import it with the mysql shell?
`shell> mysql db_name <db-file.sql`

thanks

[2019-06-19 12:51] paskuale75 commented on #33
[solved]
I put db-file.sql in **"/var/lib/mysql"** folder then after open container with exec...
`shell> mysql db_name <db-file.sql`  work fine !!

[2019-06-19 12:51] #33 closed

[2019-06-28 06:31] unomind opened #35 "Deploy to swarm"
Hi, thank you for your compose. I just curious how to deploy into swarm service?

thanks

[2019-06-29 22:56] fdbiondi opened #36 "PHP 5.4 branch"
Hi! I like to send you a pull request for a new branch with php 5.4 version.
In order to do the PR I would need you to create the new branch 5.4.x.

Thanks.

[2019-07-01 10:56] narendravaghela commented on #36
Is there any specific need for this? PHP 5.4 is too old now!

[2019-07-01 10:57] narendravaghela commented on #35
I haven't tried it. You can read some tutorials online.

[2019-07-17 06:04] narendravaghela commented on #36
Hi @fdbiondi
I have created a branch named 5.4.x for you. You can submit the PR.
Thanks

[2019-07-17 06:08] #36 closed

[2019-07-26 22:22] therealrobbo opened #40 "Connecting to SSL"
Running this container, I can access the site via http://localhost

However, when I try to connect via https://localhost:443 the browser throws a:
[code]

I tried adding some code to generate a self-signed certificate in the DockerFile and the following in /config/vhosts/default.conf, but nothing seems to work.
[code]

Can you provide any pointers?

[2019-07-29 06:53] DandeSuen opened #41 "Don't have permission on Ubuntu 18"
Forbidden
You don't have permission to access / on this server.
Server unable to read htaccess file, denying access to be safe
Apache/2.4.25 (Debian) Server at localhost Port 80

I test some php-apache image on Ubuntu18.04, All the same.
And test two "docker-compose.yml" on Ubuntu18.04, All the same too.

[2019-07-29 07:10] DandeSuen commented on #41
Add RUN usermod -u 1000 www-data && usermod -G staff www-data
RUN chown www-data:www-data /var/www/html
RUN chmod -R 777 /var/www/html/ to the .\bin\webserver\Dockerfile file. Still don't have permissions.

[2019-07-30 01:24] johnoliv commented on #26
@wi1w @yapsr

It only worked after removing the variables (MYSQL_USER and MYSQL_PASSWORD), because it apparently conflicts with MYSQL_ROOT_PASSWORD.

Final:

`  mysql:
    build: ./bin/mysql
    container_name: '5.7.22-mysql'
    restart: 'always'
    ports:
      - "${HOST_MACHINE_MYSQL_PORT}:3306"
    volumes:
      - ./setup.sql:/docker-entrypoint-initdb.d/setup.sql
      - ${MYSQL_LOG_DIR-./lo

[2019-07-30 22:13] MrOffline77 commented on #40
Did you restart the docker-compose containers so apache can perform a reload ?
Are there any useful hints in the logs `./var/apache2/*` ?
Permissions on cert file are correct ?

[2019-07-31 21:53] therealrobbo commented on #40
Turns out I had to add these lines to the end of the DockerFile:

[code]

[2019-08-01 06:20] narendravaghela commented on #24
Is this solved? Please reopen if there are still issues, and also try to use the latest builds.

[2019-08-01 06:20] #24 closed

[2019-08-01 06:21] narendravaghela commented on #26
Please reopen if required.

[2019-08-01 06:21] #26 closed

[2019-08-01 06:21] #29 closed

[2019-08-01 06:21] #35 closed

[2019-08-01 06:22] #40 closed

[2019-08-05 18:46] MrOffline77 commented on #41
Did you changed the volume mapping paths for the document root ?
Usually this error indicates an empty or incorrect doc root.
You can try to exec into the container an make sure your files are present in the document root.

[2019-08-16 18:13] mix49 opened #46 "DB connection of Docker LAMP"
Hi there,
Many thanks for your great docker compose lamp. I installed it successfully on Ubuntu 19, then I wanted to try an open source software. After I created my database, I used localhost as a database host name like when I installed LAMP locally but I got an error connection message.
I used mysql instead localhost for database host name and my problem was solved. I found this database host na

[2019-08-16 19:31] MrOffline77 commented on #46
Hi @mix49 thank you for the great feedback <3.

The "mysql" instead of "localhost" is related to the docker-compose link. The web container see's the mysql not as localhost, because they dont share a real loopback device. Instead of this docker-compose links the two containers together to a fake loopback localhost. Therefore you need to pass mysql as database host for your application running insi

[2019-08-18 11:10] parkbroom commented on #46
@MrOffline77 what if the production server is using "localhost" as the connection.

do you have any suggestions?

[2019-08-18 12:09] MrOffline77 commented on #46
Hi @parkbroom
usually you want to handle this with .env files inside you application. I guess you cant handle this for production in this case for any reason. But you want to use "localhost" on you local development machine because you directly pushing to production.

If you really need localhost for whatever reason, you could adjust the docker-compose.yaml
In row 19 is the name of the mysql conta

[2019-08-18 12:19] parkbroom commented on #46
Thanks for the fast reply @MrOffline77 .

It is a "new" legacy project I am currently working in and connections are hardcoded via .php files.

Thanks for the two suggestions!

[2019-08-18 12:52] MrOffline77 commented on #46
you are welcome. I will close this one.

[2019-08-18 12:52] #46 closed

[2019-08-18 12:57] MrOffline77 commented on #31
Hi @rikipm is this still a problem ? Does this still occur when you pull a fresh clone of the repo ?

[2019-08-20 15:27] fdbiondi commented on #36
Hi @sprintcube, I was very busy lately and I can't awnser you.
Thanks!

[2019-08-29 13:58] rhyseli commented on #41
I'm having the same issue. All values are default and correct doc root

[2019-08-29 14:21] rhyseli commented on #41
Turns out it's because I was using WSL docker-compose with a standard Docker for Windows installation. Docker for Windows requires extra permissions to mount the filesystem.

Works fine if run from cmd or powershell.

[2019-09-03 12:18] hungfhq opened #49 "Create a virtual host"
below are the steps to create a new virtual host.

1. Edit the file - docker-compose-lamp/config/vhosts/default.conf or Create a new configuration file at same path e.g. docker-compose-lamp/config/vhosts/myhost.conf

2. Enter the following virtual host code.

<VirtualHost *:80>
    ServerAdmin webmaster@yourhostname
    DocumentRoot "/var/www/html/your-dir"
    ServerName yourhostname
    <Directo

[2019-09-03 15:09] hungfhq opened #50 "How can I create other virtual host with port?"
I want to create virtual host like: `127.0.0.1:8088 test.test`, but I can't. Please show me how.

[2019-09-03 16:46] MrOffline77 commented on #50
hosts entry for test.test on your local mashine ist present ?

[2019-09-14 23:06] rikipm commented on #31
Hi. Yes, its still a problem.

1) Cant logout from phpmyadmin
2) Cant create pmadb

[2019-09-15 04:42] MrOffline77 commented on #31
Thank you. What PHP Version branch are you using ? I want to take a look at the code if the phpmyadmin is broken in your branch.

[2019-09-15 09:01] rikipm commented on #31
7.3.x

[2019-09-15 10:08] rikipm commented on #31
I solved this issue, and also solved security problem due to which any user can get access to phpmyadmin without auth. See details in #51

[2019-09-15 10:08] #31 closed

[2019-09-15 13:35] MrOffline77 commented on #49
Hi @hungfhq !
thank you for your participation in this project.
If you want to see this steps in the readme you can create a pull request, and create a tutorial section inside the readme if you want so.
best regards

[2019-09-16 15:34] ilovefood2 opened #53 "follows quick start and got errors on last step"
any idea?

[code]

[2019-09-16 17:34] MrOffline77 commented on #53
Hi,
looks like you didnt copied the env.sample to .env

[2019-09-16 17:36] MrOffline77 commented on #53
we should clarify this step in the readme. I will take care of this.

[2019-09-16 18:41] ilovefood2 commented on #53
i did git clone
there is only one file named sample.env
did u mean rename this file to .env?

[2019-09-16 18:52] ilovefood2 commented on #53
ok as soon as i rename sample.env to .env, those errors went away.

thank you

[2019-09-16 21:01] #53 closed

[2019-09-18 17:26] ilovefood2 opened #54 "how do we change max_upload size?"
I am trying to upload sql for over 2M but found there is a limit

![image](https://user-images.githubusercontent.com/4293869/65170977-d722dd00-da17-11e9-9fb2-24252b1e04c3.png)
i also checked php.ini, it has 100M and 20M upload limit
how come phpmyadmin has different upload limit?

[2019-09-19 01:29] ilovefood2 commented on #54
also, how do we enable ldap support?
 here is my php.ini and it seems does not work

[code]

[2019-09-19 06:03] narendravaghela commented on #54
Hi @ilovefood2
The [phpmyadmin](https://hub.docker.com/r/phpmyadmin/phpmyadmin/) is a separate docker image. See https://github.com/sprintcube/docker-compose-lamp/blob/055ee58d51eab5aa6f807eeb0edeebf00a274f03/docker-compose.yml#L34

It is based on Nginx server. So, you can modify the docker-compose.yml file which copies the php.ini to appropriate directory. See the configuration of the webserver.

[2019-09-19 06:04] #41 closed

[2019-09-19 15:02] ilovefood2 commented on #54
got it, will try that, thx

[2019-10-12 08:41] manish-hk opened #59 "MySQL connecttion failed: Connection refused"
mysqli_connect is not working on index.php

The index.php page is throwing error that MySQL connecttion failed: Connection refused

whereas test_db.php says Success: A proper connection to MySQL was made! The docker database is great. Host information: mysql via TCP/IP

[2019-10-14 11:07] catarinarpds opened #60 "Reset phpmyadmin password"
How can I reset the phpmyadmin password?

[2019-10-17 16:31] PeggyFree commented on #53
I confirm this was not clear to me too

[2019-10-17 16:57] MrOffline77 commented on #53
@PeggyFree @ilovefood2 Thank you !
I've just committed the changes to all branches. Is ok like its documented now ?

[2019-10-17 17:00] #49 closed

[2019-10-17 17:00] #50 closed

[2019-10-17 17:00] MrOffline77 commented on #54
@ilovefood2 does this fixed your problem ?

[2019-10-17 17:31] PeggyFree commented on #53
Perfect, thank you. Right now I'm trying to make your container work with traefik :)

[2019-10-17 20:20] ilovefood2 commented on #54
Yes thx

[2019-10-17 20:24] #54 closed

[2019-10-18 08:12] BeepingGit commented on #54
How did you configure the docker-compose.yml to copy php.ini. Can you paste the example?

[2019-10-21 05:10] ayman-khattar opened #62 "image error when I docker-compose up -d"
Hello,
I mounted the project a few mouths ago on my local laptop (ubuntu 18.04), it worked fine, few weeks later PHP was not working anymore so I decided to remove images and containers, to pull new project updates and to docker-compose again but the webserver image seems to be unfound.

`ERROR: for a78144eb096d_7.3.x-webserver  no such image: sha256:717fb604f35793d2e14926656008512fa8d23c2da72c561

[2019-10-21 05:29] #62 closed

[2019-10-21 05:32] ayman-khattar commented on #62
issue's origine : cache problem
solution : `docker-compose down` then `docker-compse up -d`

[2019-10-22 11:07] manish-fn opened #64 "phpmyadmin - No Privileges"
I can't add any database from phpmyadmin.

[2019-11-01 19:31] adrianahdez commented on #64
Check if you are logged in as root in your phpmyadmin

[2019-11-01 19:35] adrianahdez commented on #60
I had to change the password in docker-compose.yml
      PMA_USER: root
      PMA_PASSWORD: ${MYSQL_ROOT_PASSWORD}
Then delete the data/mysql folder and then docker-compose down and up again

[2019-11-02 23:04] CROSP commented on #64
I have a similar issue.
To solve it just remove these variables from the `docker-compose.yml` file.
[code]
**PMA_USER and PMA_PASSWORD - define username to use for config authentication method**
So, in this case, the config auth method is used and it uses the docker user as defined in config.

[2019-11-04 15:49] Michael-A-Sherman opened #66 "Quick Links URLs"
Hello,

I ran into an issue with the quick link urls that I think could be fixed quite easily. I was running this on a VM and when I pulled up the IP of the VM on a different machine on my network, the quick links did not work because the quick links use local host.
[code]
I feel like this could easily be resolved by changing the links as follows:
[code]
I would be happy to submit a PR if this is

[2019-11-06 06:08] manish-fn commented on #64
Go it. Thanks

[2019-11-06 06:08] #64 closed

[2019-11-14 20:03] sk1ter opened #67 "Writing permissions"
I have a problem with write permission on /var/www/html directory.
[code]
How can I fix it?

[2019-11-26 14:46] avierr opened #70 "upgrade to PHP 7.4 and Mysql 8"

[2019-11-26 18:11] wadimsewo opened #71 "PHP Version"
Hi,

I switch the Branch to 7.3.x version of PHP, but still get the 7.1.20 Version.

[2019-11-27 06:17] narendravaghela commented on #71
You need to shut down the running containers first via `docker-compose down`. After that step, change the branch and run the following commands.
[code]

[2019-11-29 14:34] MrOffline77 commented on #71
does this solved you problem ? @wadimsewo

[2019-11-29 14:35] MrOffline77 commented on #70
I'm working on a php74 branch. Mysql8 is no problem. We will create a new WIP php74 branch for this.

[2019-11-29 15:18] MrOffline77 commented on #67
Are you using windows or Ubuntu ? Which PHP version do you use ?

[2019-11-29 15:22] MrOffline77 commented on #66
Hi @tsh3rman ,
thank your for you participation ! Please feel free to create a pull request for each php version branch.

[2019-11-29 15:23] #60 closed

[2019-11-29 15:24] MrOffline77 commented on #59
Hi, I can't reproduce this. Please try to create a fresh new clone and take a look if this still occures.

[2019-11-29 15:28] avierr commented on #70
Thank you

[2019-12-01 01:11] tsh3rman commented on #66
I submitted a pull request on each branch.

[2019-12-02 11:29] MrOffline77 commented on #70
php 7.4 has landet take a look at the branches :)

[2019-12-02 12:02] avierr commented on #70
Awesome!! Thank you!

[2019-12-03 05:04] #70 closed

[2019-12-05 18:27] mourareaupro opened #77 "Laravel Installation"
Hello, i'm new on docker, i installed a new laravel application under /var/www
cd my app
php artisan serve

when i go to 127.0.0.1:8000 i get proxy errror.

do you know why ?

[2019-12-06 09:45] MrOffline77 commented on #77
Hi,
`php artisan server`gives you a local dev php server. This has nothing to do with the docker compose here. Please take a look at the readme inside our php version branches.

[2019-12-11 16:46] DaveMeade opened #78 "webserver docker file fails on Freetype command"
When I run docker-compose up -d, the process eventually fails with the following error:

`configure: error: unrecognized options: --with-freetype-dir, --with-jpeg-dir
ERROR: Service 'webapp' failed to build: The command '/bin/sh -c apt-get -y update &&     apt-get --no-install-recommends install -y libfreetype6-dev libjpeg62-turbo-dev libpng-dev &&     rm -rf /var/lib/apt/lists/* &&     docker-php

[2019-12-11 17:25] MrOffline77 commented on #78
Hi please pull the branch again. I fixed this error yesterday 👌. Please let me now if your build works. Happy coding ❤️

[2019-12-11 18:35] DaveMeade commented on #78
Thanks @MrOffline77

[2019-12-12 05:31] #78 closed

[2019-12-12 07:20] stayliv3 opened #79 "php5.6 apt-get error"
<img width="1437" alt="Screen Shot 2019-12-12 at 3 17 01 PM" src="https://user-images.githubusercontent.com/9264080/70690977-e94ca880-1cf2-11ea-9093-5e8b4c76f695.png">

[2019-12-12 10:28] #79 closed

[2019-12-12 10:29] stayliv3 commented on #79
maybe my config problem

[2019-12-12 22:34] mourareaupro commented on #77
thanks a lot :)

[2019-12-12 22:34] #77 closed

[2019-12-12 22:36] mourareaupro opened #80 "PhpMyAdmin no privileges"
![Capture d’écran 2019-12-12 à 23 33 45](https://user-images.githubusercontent.com/25173073/70754651-0c4d7b80-1d38-11ea-9c49-8f832b76e8b9.png)

I have no privileges for the user docker. when i go to http://localhost:8080/ i'm logged directly without the auth step. i created containers with the default env config

[2019-12-14 18:12] javlonbek-sharipov commented on #67
Hi! I am using Ubuntu 18.04, Docker version 18.09.7 build 2d0083d

[2019-12-15 15:06] #80 closed

[2019-12-17 14:04] salimmejdoub opened #81 "multiple databases"
how can i add other databases  with all privileges?

thanks

[2019-12-19 17:02] Ashleybrandon commented on #59
I'm experiencing the same error with Phpmyadmin. Think there was an intermittent message saying 'connection timeout', but restarting Docker or the computer didn't help. Was just doing a simple PDO exercise.

[2019-12-22 15:27] ChrisMc1870 commented on #81
Once your container is up and running, you can connect to the database using MySQL Workbench and log in with the MYSQL root credentials and then add your database. Once that is done, you canadd the docker user permissions to the new database.

[2019-12-23 06:55] irisvn commented on #59
you try change 'localhost' to 'mysql'. Goodluck ^^

[2019-12-23 07:20] manish-hk commented on #59
Default MySql is not root. Changed it to root and it worked.

[2019-12-23 07:20] #59 closed

[2019-12-27 14:43] MrOffline77 commented on #81
Hi @salimmejdoub does the answer from @ChrisMc1870 solved you issue ? Please let us know.

[2019-12-27 14:43] MrOffline77 commented on #71
Closed due to now response.

[2019-12-27 14:43] #71 closed

[2019-12-27 14:44] MrOffline77 commented on #66
merged

[2019-12-27 14:44] #66 closed

[2019-12-27 14:46] MrOffline77 commented on #67
@javlonbek-sharipov this sound like #41 does the steps there help you with your problem ?

[2019-12-27 15:10] salimmejdoub commented on #81
hello @MrOffline77 , i just tested it now,
it works thanks for your hel @ChrisMc1870

[2019-12-27 17:03] #81 closed

[2020-01-04 18:50] kitro opened #83 "ERROR: The Compose file './../../docker-compose.yml' is invalid because:"
Hello,
When i try to go inside the web server container `docker-compose exec webserver bash` i get this error:
[code]
I m using Ubuntu.
thank you

[2020-01-05 07:46] MrOffline77 commented on #83
Please make sure  your .env file is present.

[2020-01-05 14:35] kitro commented on #83
@MrOffline77 ,
yes, it exists.
[code]
and it's copy of sample.env

thank you for help :pray:

[2020-01-05 21:00] c42759 commented on #40
Can this be added to the repository by default?

[2020-01-07 04:58] bharatpatil commented on #40
I'm currently working on this. Please refer #68

[2020-01-09 15:03] MrOffline77 commented on #83
Ok. When you exec you should be in the directory of the docker-compose, so docker can find your .env file.

[2020-01-12 18:07] kitro commented on #83
after restart my OS, now it's work, I don't know why.
thank you for help.

[2020-01-12 18:07] #83 closed

[2020-01-15 14:32] MinhHungTrinh opened #91 "The container status of web server and mysql is "Restarting (1) xxx seconds ago". And can't working"
I  have a problem. The container status of Web Server and MYSQL is "Restarting (1) xxx seconds ago". And it can't work with:
- MacOS 10.15.2
- Docker version 19.03.5
Please help me.
And work fine with: Ubuntu 18.04 and Docker version 19.03.5

[2020-01-23 04:11] jgar2020 opened #92 "MySQL connecttion failed: The server requested authentication method unknown to the client"
what is the cause for this error?

Error

MySQL said: Documentation
Cannot connect: invalid settings.
mysqli::real_connect(): Unexpected server response while doing caching_sha2 auth: 109
mysqli::real_connect(): (HY000/2006): MySQL server has gone away
phpMyAdmin tried to connect to the MySQL server, and the server rejected the connection. You should check the host, username and password in your c

[2020-01-23 05:38] MrOffline77 commented on #92
mysql8 changed some authentication stuff. When you want to use mysql8 you should also use php74. Mysqli and pdo are should be fully compatible with php >74.

[2020-01-24 23:52] jack-javana opened #93 "small question"
I'm new to docker technology and i have smal question
Can i use this to develop on php with Visual studio Code?
By develop in Vscode, I mean, can I access the Php interpreter which is in docker from visual studio code?

[2020-01-25 14:56] #93 closed

[2020-01-30 11:58] fixnixinc commented on #81
How can I add a database by default like you have added docker db?

[2020-01-30 12:48] manish-fn opened #94 "phpmyadmin large files not uploading"
it is a 8 mb file

php.ini settings
memory_limit = 900M
post_max_size = 800M
upload_max_filesize = 600M
file_uploads = On

No data was received to import. Either no file name was submitted, or the file size exceeded the maximum size permitted by your PHP configuration. See FAQ 1.16.

[2020-01-30 14:34] MrOffline77 commented on #92
Does this solve your issue ?

[2020-01-30 14:34] #92 closed

[2020-01-30 14:39] MrOffline77 commented on #94
This is probably because the phpmyadmin comes with its own php, and does not use the php.ini settings from the webserver due to its a completely different instance in a different docker container.

You can change this behavior when you add a variable called `UPLOAD_LIMIT` and set a higher value inside the docker-compose file inside the php-myadmin part.

You can also check the docs to this here: h

[2020-01-30 14:42] MrOffline77 commented on #91
Please give us a little bit more information. Especially the docker container logs.
More infos about docker logs: https://docs.docker.com/engine/reference/commandline/logs/

[2020-01-31 10:47] manish-fn commented on #94
It worked well with the phpmyadmin environment variable UPLOAD_LIMIT.

Thanks @MrOffline77

[2020-01-31 10:47] #94 closed

[2020-02-01 00:18] sdenathaniel opened #95 "5.6.x Branch - Mac OSX 10.15.2 Cannot Connect to MySQL"
When using vanilla (no changes) compose file for 5.6 mysql cannot connect on OSX 10.15.2, not sure why this is,

I get these same errors on other people's docker compose repos not just this one. Works fine on windows 10 machine (with the exception that on phpmyadmin it says php 7+ even though index.php says 5.6)

![Screen Shot 2020-01-31 at 4 09 55 PM](https://user-images.githubusercontent.com/436

[2020-02-01 00:38] sdenathaniel commented on #95
Okay found out this is not a networking error, it was due to the mysql container constantly cycling on and off because because there were other files in the data directory. Cleaned that up but now got a permissions issue,

![Screen Shot 2020-01-31 at 4 33 07 PM](https://user-images.githubusercontent.com/4368867/73583575-ded3a300-4447-11ea-829c-b09d9608d747.png)

Tried using root + tiger but it see

[2020-02-01 00:43] sdenathaniel commented on #91
My mysql container was doing the same thing, checking the logs showed there were files from another project in the data folder. Removing those files allowed the container to come up stable. That said I am still having other connect problems but it isn't cycling anymore.

[2020-02-01 00:47] sdenathaniel commented on #95
This is related to  - https://github.com/sprintcube/docker-compose-lamp/issues/29

I am already using container names not IPs though. So I am fairly certain it is hitting the right place just not actually connecting.

[2020-02-01 15:47] satirovaf opened #96 "Move to a new server"
Hello,

I'm new to this docker world, do you have the Dockerfile of the LAMP? I'm trying to create a image from my pc to run in a server, is that possible? You can share it?

Thanks

[2020-02-02 08:52] MinhHungTrinh commented on #91
These is my docker logs:

[2020-02-02 10:15] MrOffline77 commented on #91
mhh usually on my mac this works without a problem. You could try to invoke the docker-compose / Docker daemon with `sudo`.

[2020-02-02 10:33] MinhHungTrinh commented on #91
@MrOffline77
yes, i removed all containers and images. Then run *sudo docker-compose up -d* again. But it still can not working.

[2020-02-03 19:18] paolobattistella commented on #91
I have the same issue.
I have solved removing the following line into Dockerfile about Apache
`rm -rf /var/lib/apt/lists/*`

[2020-02-04 22:03] jpzapata99 opened #97 "ERROR: Service 'webserver' failed to build: Invalid signal: SIGWINCH"
I'm trying to use this proyect but when I put the command: docker-compose up -d
The system gime me:
Step 1/10 : FROM php:7.4.1-apache-buster
 ---> 0c37fe4343a5
Step 2/10 : ARG DEBIAN_FRONTEND=noninteractive
ERROR: Service 'webserver' failed to build: Invalid signal: SIGWINCH
I'm new with Docker so I don't know if may be I'm in a classic error.
I haven't do any change in code.

[2020-02-05 06:18] MrOffline77 commented on #96
Sorry this isn‘t the right place for this therefore Im going to close this sorry.

[2020-02-05 06:18] #96 closed

[2020-02-05 06:20] MrOffline77 commented on #97
Hi, this sound like a local thing with your mashine. Due to this isn‘t a bug im going to close this issie sorry.

[2020-02-05 06:20] #97 closed

[2020-02-05 14:03] MrOffline77 commented on #95
@sdenathaniel this looks like you system have some kind of firewall not allowing a connect. Please try to undo #72 locally. This should work for you. Please let me know if this works for you.

[2020-02-05 14:16] MrOffline77 commented on #95
@sdenathaniel for me both works. ( just created two tests with #72 and without )

![Bildschirmfoto 2020-02-05 um 15 12 22](https://user-images.githubusercontent.com/43014876/73849545-69dae180-482a-11ea-8a45-b104ea54d41e.png)
![Bildschirmfoto 2020-02-05 um 15 12 16](https://user-images.githubusercontent.com/43014876/73849551-6e06ff00-482a-11ea-9549-dc5a91655ca8.png)

[2020-02-06 15:42] MinhHungTrinh commented on #91
OMG, I solved this problem. Thank for all the support!!!
On my Mac OS ( Catalina 10.15), I disabled System Integrity Protection (SIP) and Gatekeeper.  Then, rebooting my computer. I check  2 containers (webserver and MySql) deleted.  Finally,  I run `docker-compose up -d` again and it work fine.

[2020-02-08 16:35] wi1w commented on #67
You can try pass rw permissions to container.
[code]

Try modify volume with files with ```:rw```

Reply if helps

[2020-02-09 08:23] #91 closed

[2020-02-10 21:25] Yop-La commented on #95
I have the same issue  event without #72 !

[2020-02-12 18:10] dokker opened #99 "Mailhog [FEATURE]"
Hi,

Would you consider to add Mailhog to the stack? Or any other possibility to catch the emails?

[2020-02-12 20:01] MrOffline77 commented on #99
Hi @dokker did you consider using mailtrap for example ? They are doing exactly that for free.

[2020-02-13 10:19] dokker commented on #99
[Mailhog](https://github.com/mailhog/MailHog) has MIT license so it is for free in practice. It is widespread to just catching mails in dev environments.
Anyway I'll try to use a mailhog container with docker-compose-lamp somehow.
Thanks @MrOffline77

[2020-02-15 18:12] denisjoshua opened #100 "[BUG] REDIS was hacked on my server... please write some words about it"
First of all, thanks a lot for your docker... it's great work.
But... I don't know Redis and what it is before to install you docker script.
I found a miner script on my server and I uderstand that was injected using the
open port 6379 on Redis.
I still don't understand how this was possible cause I have csf firewall on the host.

Anyway I think that you sould tell about this problem on the home p

[2020-02-15 18:55] MrOffline77 commented on #100
Hi, sorry to hear that youe redis got hijacked. Nevertheless, you are responsible for the things you put in production. This Stack is not build for production usage in purpose .We will mark this more clearly in the readmes.

[2020-02-15 18:55] #100 closed

[2020-02-15 18:58] #99 closed

[2020-02-16 05:39] denisjoshua commented on #100
Greate :-)
Thanks a lot again

[2020-02-21 17:12] wadimsewo commented on #95
This solution worked for me:

1. **Container console:** docker exec -i 5.7-mysql bash
2. **Create new user for all networks:** CREATE USER 'root'@'%' IDENTIFIED BY 'tiger';
3. **Allow all connections:** GRANT ALL PRIVILEGES ON *.* TO 'root'@'%' WITH GRANT OPTION;

[2020-02-21 23:51] bugzbrown commented on #67
Just so you know... adding rw worked in an ubuntu distro.

[2020-02-22 19:46] javlonbek-sharipov commented on #67
@wi1w thanks!

[2020-02-24 12:01] manish-fn opened #102 "website:8080 - This site can’t provide a secure connection - phpmyadmin ssl"
I recreated your docker-compose file to add letsencypt certs. The site by itself is working fine with the sl but the phpmyamin at 8080 throws an error:

This site can’t provide a secure connection
website sent an invalid response.
ERR_SSL_PROTOCOL_ERROR

I also tried running the site at 8443 but the same error.

Here's my docker-compose file:
version: '3'

services:

  proxy:
    image: jwilder/ng

[2020-02-25 06:22] narendravaghela opened #103 "Restructuring"
I have seen and also got a few suggestions about the number of branches for different PHP versions.

Can we restructure this to have a common configuration using .env file for using a different version of each software? For example, in `.env` file,
[code]
And have a separate image for PHP 7.2 which will be loaded through `docker-compose.yml`.

We can take a reference from https://laradock.io/docum

[2020-02-25 12:00] MrOffline77 commented on #103
In general I agree with you that one branch with a customizable PHP Version through a .env would be much easier to handle and maintain.
Laradock is able to this, because they build their own php images. Therefore they can manipulate the variables.

Maybe we can create some kind of mapping with nested env vars:

in .env `PHP_VERSION: 7.4`-> what leads to something like this:

[code]

Then we would

[2020-02-27 11:32] narendravaghela commented on #103
Looks perfect.

[2020-03-02 11:00] salimmejdoub opened #104 "[BUG]"
Hello every one, i'm trying to install this image in y macOS
and i'm getting this error
when i try this command : docker-compose up -d
i get this

[code]

Can any help to solve
NB: i'm just learning Docker

Thanks

[2020-03-02 12:49] salimmejdoub commented on #104
my bad ! it was an installation problem

[2020-03-02 12:49] #104 closed

[2020-03-20 14:57] MrOffline77 commented on #103
@narendravaghela I've did some work for demo: [restructure-103](https://github.com/sprintcube/docker-compose-lamp/tree/restruct-103)

Please take a look at this. If you ok with the changes I'm going to implement the rest of the php versions and the stuff thats mentioned in the todo.md

[2020-03-23 07:09] narendravaghela commented on #103
@MrOffline77 Let's implement the rest.
We will keep improving by getting the feedback. Also, let's keep the current version-specific branches as is so people can keep using them in case our new structure doesn't work for them.

[2020-03-23 15:45] MrOffline77 commented on #103
I will take care of this.

[2020-03-25 03:22] josephtan opened #105 "Getting Cross Origin headers to work"
For the PHP 7.2 version (or any) is there a docker-compose file which is able to set a2enmod headers for Cross Origin Policy (CORS)?

If there is how do I do it through a Dockerfile or docker-compose.yml?

Currently I am looking to enable Cross Origin Policy for this docker-compose build.

[2020-03-28 16:48] kirumadke opened #107 "Problem with 5.6 on Mac (please help me its urgent)"
Installing header files:           /usr/local/include/php/

warning: mbstring (mbstring.so) is already loaded!

find . -name \*.gcno -o -name \*.gcda | xargs rm -f
find . -name \*.lo -o -name \*.o | xargs rm -f
find . -name \*.la -o -name \*.a | xargs rm -f
find . -name \*.so | xargs rm -f
find . -name .libs -a -type d|xargs rm -rf
rm -f libphp.la       modules/* libs/*
Configuring for:
PHP Api Ve

[2020-03-28 18:36] MrOffline77 commented on #95
Thanks for sharing your solution @wadimsewo

If anyone wants to create a pull request to fix this, I would appreciate this! I'm at the moment not able to reproduce the issue.

[2020-03-28 18:41] MrOffline77 commented on #107
First of all, please use our issue templating system to give us more context about your problem, so we and the community can help out better.
Disrespecting this, and screaming for urgency, isn't the kind of culture we want to cultivate in this project. If your problem still exists, please recreate a new propper created issue with some context around your problem.

[2020-03-28 18:41] #107 closed

[2020-03-28 18:45] MrOffline77 commented on #105
Hi @josephtan !
This should work. You can modify this file: `docker-compose-lamp/bin/webserver/Dockerfile`
At the end of the file you can see
[code]
You can easily extend this by the apache module you need to activate.
Please let us know if this fixed you issue ;).

[2020-04-01 00:52] josephtan commented on #105
Hi @MrOffline77 ,

Yes! It finally worked after I set the v-host default.conf Header set Access-Control-Allow-Origin.

[2020-04-01 00:52] #105 closed

[2020-04-01 03:13] crscaballero opened #108 "[BUG] Can not connect to PHPMyAdmin"
**Describe the bug**
Getting error on PHP My Admin,

**which Branch / PHP Version are you using ?**
7.4.x

**To Reproduce**
Steps to reproduce the behavior:
1. Git Clone
2. Checkout to 7.4.x
3. Copy `sample.env` to `.env` file
4. Go to `http://localhost:8080/`

**Expected behavior**
Go to manage PHPMyAdmin

**Screenshots**
![image](https://user-images.githubusercontent.com/48134692/78095429-c62233

[2020-04-01 10:38] MrOffline77 commented on #108
Hi,
I would bet, that you mysql container is not running or doing weird things.
Can you check this und send the `docker logs <containeruuid>`here ?

[2020-04-02 02:14] crscaballero commented on #108
Here is the log

![image](https://user-images.githubusercontent.com/48134692/78203881-fe3d7b00-744c-11ea-9a03-3c2c47139347.png)

thanks in advance

[2020-04-10 13:55] dcourtin opened #109 "Can you tell us about this redis process...?"
While reviewing processes, i've seen this process :
redis2 --donate-level 1 -o ve01.kieuanilam.me:5555

What is it about ?

kieuanilam.me is a weird endpoint.

[2020-04-10 16:55] MrOffline77 commented on #109
No sorry. Fulltext search inside this repo against `kieuanilam.me` is not bringing any results.
Does not look like something from this repo.

[2020-04-11 09:35] dcourtin commented on #109
It looks like this : https://github.com/laradock/laradock/issues/2346. Please re-open this issue while it's obvious that if we are in cryptojacking case, fulltext search will not be sufficient.

[2020-04-11 16:18] MrOffline77 commented on #109
@dcourtin looks like your Redis was available via public IP.
Putting a Database without authentication on the public isn't a good idea :).
Therefore it's possible that your Redis got compromised. The steps in the [laradock](https://github.com/laradock/laradock/issues/2346) issue should work fine.
Please Note: This stack is built for local development and not for production use.

I'm currently work

[2020-04-11 19:27] MrOffline77 commented on #108
Thats strange. Sounds somehow like your .env is modified somehow and the mysql logins aren't correct. The Error indicates, that the connection over docker network to the mysql works, and mysql reponds with a valid error for incorrect credentials. Can you double check that your credentials the same like in our provided env files ?

[2020-04-11 19:35] crscaballero commented on #108
DOCUMENT_ROOT=./www
      VHOSTS_DIR=./config/vhosts
      APACHE_LOG_DIR=./logs/apache2
      PHP_INI=./config/php/php.ini

      # If you want to use mariadb instead of mysql use "mariadb"
      DATABASE=mysql8

      MYSQL_DATA_DIR=./data/mysql
      MYSQL_LOG_DIR=./logs/mysql

      # If you already has the port 80 in use, you can change it (for example if you have Apache)
      HOST_MACHINE_U

[2020-04-11 20:01] MrOffline77 commented on #108
I've just spun up a fresh 7.4.x stack, but im not able to reproduce this.
Can you verify that you can't login manual ?
Just to make sure, please git pull, to make sure your branch is up-to-date

Please give this a try and let me know what the results are.
[code]

[2020-04-11 21:03] crscaballero commented on #108
I did, and works, so then I've change the params in the `.env` file

      # Database settings: Username, password and database name
      MYSQL_USER=root
      MYSQL_PASSWORD=tiger
      MYSQL_DATABASE=

and with this is working as supposed to be, I think the `sample.env` should be have those values instead of the current values, are you agree if I send a PR with that small change?

[2020-04-13 05:58] narendravaghela commented on #109
@MrOffline77 I agree.
Sometimes, if we don't have the good security steps in place, Redis makes the server available to be hacked via its port.
We should work on that network separation/isolation part and apply the better solution to secure this stack.

[2020-04-13 13:35] MrOffline77 commented on #109
Fixed here: [Click me](https://github.com/sprintcube/docker-compose-lamp/commit/005edb39557a6bf63990eb1a27c72f9295931e1c)

MySQL and Redis are no longer available via public ip. The user does need to make any change. MySQL could become a thing, if someone takes dumps from external ip's. This should rather be done from the host executing the stack itself for security reasons.

[2020-04-13 13:40] #103 closed

[2020-04-14 09:28] #109 closed

[2020-04-16 20:44] Gfast2 commented on #59
That light up my day! Thank you for your efforts!

[2020-04-17 07:39] Gfast2 commented on #59
The thing is, if it's hard to figure out, it may very hard to let seasonal php developer like me to jump back to php (right now js/ts developer). This is repo is popular & valuable, you may really wanna reduce over heads like this for all possible developers. Since PDO is kinda "way to go", please consider to add another db test php file in this repo for PDO. When PR wished, I may give it a try. I

[2020-04-17 12:39] MrOffline77 commented on #59
@Gfast2 I see no disadvantage in adding a pdo database connection test. Feel free to create a PR for this against master branch.

[2020-04-17 19:32] sopsmattw commented on #109
Cryptojackers are scanning looking for redis servers that are vulnerable to this RCE vuln..

[2020-04-21 01:18] Gfast2 commented on #59
https://github.com/sprintcube/docker-compose-lamp/pull/111

[2020-04-24 15:32] RohitChangediya opened #113 "ERROR: Invalid interpolation format for "phpmyadmin" option in service "services": "${PHP_INI-./config/php/php.ini}:/usr/local/etc/php/conf.d/php-phpmyadmin.ini""
trying to setup docker-compose, getting this error

ERROR: Invalid interpolation format for "phpmyadmin" option in service "services": "${PHP_INI-./config/php/php.ini}:/usr/local/etc/php/conf.d/php-phpmyadmin.ini"

Please suggest
Rohit

[2020-04-24 15:35] MrOffline77 commented on #113
Looks like an outdatet docker-compose version.
What `docker-compose --version` says ? Install the latest version:
https://docs.docker.com/compose/install/
Let us know if this fixed your error.

[2020-04-25 07:17] RohitChangediya commented on #113
did update docker-compose to 1.23, still the same error

ERROR: Invalid interpolation format for "webserver" option in service "services": "${DOCUMENT_ROOT-./www}:/var/www/html"

[2020-04-25 07:19] RohitChangediya commented on #113
docker-compose version 1.23.2

[2020-04-25 08:25] #113 closed

[2020-04-25 08:27] RohitChangediya opened #114 "docker installed, but process getting stopped after closing the server connection"
Hi there,
the server installation works well, but the processes get terminated once the connection is closed, please help!

We used the commands mentioned in the readme file

Thanks
Rohit

[2020-04-25 08:28] #114 closed

[2020-04-29 15:27] Silassiai opened #116 "configure: error: OpenSSL libraries not found."
I am trying to install imap but keep getting this configure: error: OpenSSL libraries not found.

I am using the php74 version

**To Reproduce**
Steps to reproduce the behavior:
1 - Add following to the Dockerfile
`RUN apt update && apt install -y libc-client-dev libkrb5-dev && rm -r /var/lib/apt/lists/*`
`RUN docker-php-ext-configure imap --with-kerberos --with-imap-ssl && docker-php-ext-install

[2020-05-12 19:42] ztobs opened #118 "Cannot change from php74 to php73"
**Describe the bug**
After initial setup with php74, I then decided to change to php73 and add more extensions
But it still remained in php74 and extensions didnt add

**which Branch / PHP Version are you using ?**
php74

**To Reproduce**
1st run `docker-compose up -d` with the out of the box configuration
then update https://github.com/sprintcube/docker-compose-lamp/blob/master/bin/php73/Dockerfi

[2020-05-19 14:19] poropo97 opened #119 "[BUG] CANNOT change databasename in php 73"
**Describe the bug**
before execute the docker-compose up command i select the php version 73 and put a database name (diferent than docker) in my .env but when i go to my phpmyadmin i see only one database called docker. Its imposiblr to change name, i've hardcoded the docker-composer.yml MYSQL_DATABASE but still appearing the docker name. I have stopped my docker, clean cache but still having sa

[2020-05-19 14:36] Silassiai opened #120 "[BUG]"
Wonderfull LAMP stack. I am using this for my laravel project and everything works exept starting laravel-echo-server.

what is do is the following:
`docker-compose exec webserver bash`
`cd laravel-project`
`laravel-echo-server start ` (created config file before ofcourse)
I keep getting this redis error.

[ioredis] Unhandled error event: Error: connect ECONNREFUSED 127.0.0.1:6379
    at TCPConnec

[2020-05-21 12:42] MrOffline77 commented on #119
Hi @poropo97 sorry for the delayed response, I was quite busy.

If you previously started the Database with a different Name, its necessary to delete all content in `data/mysql/` except the `.gitkeep`. Then a new database gets created when the mysql container starts. With the described way it should be enought to just enter you name in your `.env`file.

Please let me know if this works for you.

[2020-05-21 12:48] MrOffline77 commented on #118
Hi, @ztobs
you could try to build with `docker-compose build --no-cache ` but I would guess that you image names are somehow problematic. Did you change some image names ? Looks like docker uses an existing image to start your stack. I've tested this behavior going from php 5 => 7, nut not downwards.
You can try to purge you php images, this should do the trick:
`docker rmi docker-compose-lamp_web

[2020-05-21 12:54] MrOffline77 commented on #120
Hi @Silassiai ,

thanks for using this stack !

`[ioredis] Unhandled error event: Error: connect ECONNREFUSED 127.0.0.1:6379
at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1097:14)`
Looks like you set your redis TCP destination to an ip. From inside the docker container the service ca reach redis via `redis:6379`that should work probably some `.env`stuff in you echo server.

You dont need

[2020-05-21 12:58] MrOffline77 commented on #102
Hi, you've extented this stack quit heavy :D , so I'm not able to support all kinds of your changes. Please referrer to the phpmyadmin or letsencrypt documentation. Sorry.

[2020-05-21 12:58] #102 closed

[2020-05-22 20:30] poropo97 commented on #119
It doesn't works, but today I have restarted all my Mac (memory problems) and now the database name is changing, maybe it was my problem. Thanks!

[2020-05-22 20:30] #119 closed

[2020-05-25 16:24] yohanes-ai opened #121 "[BUG] PHP 5.4 Error"
**Describe the bug**
failed on docker-compose up -d. always stuck on Reading package lists...
I try on 5.6 and it works

**which Branch / PHP Version are you using ?**
php54

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/sprintcube/docker-compose-lamp.git
2. change .env file
3.  PHPVERSION=php54
4. See error

docker-compose up -d
Building webserver
Step 1/13 : F

[2020-05-27 18:54] creativiii opened #122 "[FEATURE] Connect to localhost database as default"
**About which PHP Version we are talking ?**
Any
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
In most LAMP server environments it's unlikely an application's hostname will be anything other than `localhost`. Unfortunately the way the docker compose is set up this doesn't seem possible

[2020-05-27 20:10] ztobs commented on #118
I rebuilt with no cache and it work. I was try to avoid redownloading the images due to limited internet.

[2020-05-27 20:10] #118 closed

[2020-05-27 20:43] Egahras commented on #122
What did you change in the docker-compose.yml to get what behavior?

If I understand you correct, you want the webserver service be able to connect the database with localhost? I think the only possible way is to set up a dns rule in the webserver service that will point requests on localhost:3306 to database:3306.

I don't believe a single setting in docker-compose can achieve that.
First I thoug

[2020-05-27 20:57] creativiii commented on #122
After doing some research and asking on Stackoverflow someone mentioned I could add `network_mode: host` to the webserver container would allow me to do that. I then also had to remove the `link` because they didn't work with the `network_mode` setting.

Of course it didn't work.

It just seems weird that this isn't possible? It's such a common thing in most servers, I find it hard to believe I'd

[2020-05-28 06:20] Egahras commented on #122
It is possible.
You could create your own image and install both, the webserver and the databae within 1 image/system/container.
I see that the name of this docker-compose - package is not quite accurate. LAMP means in common case a single machine with Linux as operating system and Apache,MySQL and PHP as provided services. But It's as common that these things are seperated to provide scaleability

[2020-05-28 12:56] MrOffline77 commented on #121
Looks like you cant reach the debian servers. Are you behind some sort of http proxy ?
I'will check if I'am able to reproduce this.

[2020-05-28 13:21] MrOffline77 commented on #122
Hi, much text here thats cool 👍

@creativiii I definetly get your point with the `localhost`!= `database`thing.
The historic reason for this is, that in the vertical scaled world ( e.g. shared webhosting) everything runs most of the time on one linux box. But there are also a lot of companies using a separated database cluster to provide solid database performance.

Docker in general creates a sep

[2020-05-29 12:24] creativiii commented on #122
My only real world use case is not as strong honestly. I have to work with some _not so great_ CMS that simply don't allow to easily change config to change `localhost`.

In my head having a docker with LAMP is especially useful for local development, meaning you'd probably want a minimal setup solution where you can just drop your old LAMP server files and have them work without any extra setup.

[2020-05-29 16:01] Kasui92 opened #123 "[BUG] Can't connect to database"
**Describe the bug**
I'm trying to connect to the database, but I always get the following error:

![immagine](https://user-images.githubusercontent.com/15154851/83279384-51297980-a1d5-11ea-98b8-eb748b256c86.png)

When I run the docker ps command known as webserver_database it is always restarting, with exit code 1:

![immagine](https://user-images.githubusercontent.com/15154851/83279789-f04e7100-

[2020-05-29 16:36] MrOffline77 commented on #123
Hi @Kasui92 If i remember correctly, this sounds familiar to me. There was something with ubuntu and WSL. I try to search for it in the closed issues.

[2020-05-29 16:39] MrOffline77 commented on #123
Can you post us the error logs of the mysql container please ?

Also please take a look at this issues, please note that the mentioned docker-compose file looks a little bit different back then, but in general you could give it a shot.

#67
#41

[2020-05-29 21:06] Egahras commented on #123
I got the same problems some days ago.  I'm using WSL2 Ubuntu 20.04, too.
I got the problems with mysql, and later some problems with wordpress while "uploading" plugins.
I figured out that its a problem with the /mnt permissions.

I followed [this description](https://devblogs.microsoft.com/commandline/chmod-chown-wsl-improvements/) and remounted the volume with DrvFs to solve my problem.
#41  se

[2020-05-29 21:39] Kasui92 commented on #123
Hi everyone,
I really thank you in advance for your answers!

I had already seen those issues and adopted the solutions, but without success. The error I kept getting was the following.

![Annotazione 2020-05-29 230712](https://user-images.githubusercontent.com/15154851/83307559-4ab2f600-a205-11ea-9979-94f2be93a163.png)

However, following the advice of @Egahras and remounting the volume, it seems

[2020-05-29 21:39] #123 closed

[2020-06-01 21:21] MrOffline77 commented on #122
Most of the time the connection settings are somewhere hardcoded in a central file. Just grep the code for `localhost` and modify the value. Maybe this works. Localhost in docker context always means the container itself.

[2020-06-01 21:21] MrOffline77 commented on #122
Since this is not a code issue on our site, im going to close this issue.

[2020-06-01 21:21] #122 closed

[2020-06-02 12:21] Kasui92 commented on #121
Hi @MrOffline77 ,
I'm having the same error reported in this issue. I don't have any kind of proxy, I run docker on Windows 10 on WSL2, but even trying with the prompt/powershell doesn't seem to work.

![immagine](https://user-images.githubusercontent.com/15154851/83519465-555add00-a4dc-11ea-89b9-819d644ea80d.png)

Ty!

[2020-06-09 11:01] MrOffline77 commented on #121
I will check.

[2020-06-09 11:06] MrOffline77 commented on #116
Since this change is not provided by this repository, and we are not able to support changes of people I will close this issue. Sorry.

[2020-06-09 11:06] #116 closed

[2020-06-09 11:15] MrOffline77 commented on #121
Please rebuild your images and let me know if this works for your. Not the best solution but, as of know it works on my side.

[2020-06-12 23:35] pablovilla4 commented on #49
Hi, I did exactly that from my ubuntu 20.04 and when I use curl from the console it works, but when I use the browser it returns an error 307, which could be ??

in the etc/hosts file in the ubuntu add this:
127.0.0.1 test1.dev

`<VirtualHost *: 80>
    ServerAdmin webmaster@localhost
    DocumentRoot "/var/www/html/test1"
    ServerName test1.dev
<Directory "/var/www/html/test1/">
AllowOverride a

[2020-06-14 06:53] ahmad-shiddiq opened #125 "[BUG] Cannot connect to database in linux machine"
**Describe the bug**
Fresh install cannot connect to database

**which Branch / PHP Version are you using ?**
php74

**To Reproduce**
Steps to reproduce the behavior:
1. clone from git
2. run `docker-compose up -d`
3. open in browser
4. see error

**Expected behavior**
connected to database without problem

**Screenshots**
![Screenshot_20200614_134831](https://user-images.githubusercontent.com/531

[2020-06-15 13:43] MrOffline77 commented on #125
Is there stuff like app armor or selinux present in manjaro ?

[2020-06-15 13:45] MrOffline77 commented on #125
Please try to directly login with the `root``tiger` logins and not the `docker``docker` creds. Let me know if this works.

[2020-06-15 15:49] AhmadShiddiq commented on #125
I just checked it, but there aren't both

[2020-06-16 10:05] zetxek opened #126 "[BUG] Links in the sample page in a customized port (8081) don't work"
**Describe the bug**
Using a customized port, such as `8081`, will make the default links in the `index.php` file not work because they're hardcoded:

So visiting:
http://localhost:8081/

And clicking in `phpinfo()`, or Test DB connection will fail

**which Branch / PHP Version are you using ?**
php74

**To Reproduce**
Steps to reproduce the behavior:
1. Customize `.env` to use 8081 as insecure po

[2020-06-17 12:17] STV11C opened #128 "Add exif and imagick modules"
**About which PHP Version we are talking ?**
7.3

**Is your feature request related to a problem? Please describe.**
WordPress suggests **exif** and **imagick** as installed modules.

**Describe the solution you'd like**
Please add PHP modules as WordPress is a popular CMS.

**Describe alternatives you've considered**
I tried to add them to the php73 Dockerfile (following the other modules), but c

[2020-06-21 12:30] ahmad-shiddiq commented on #125
UPDATE: last try i just prune all my docker system and start from zero, and now its work :)

[2020-06-21 12:30] #125 closed

[2020-06-23 11:36] MrOffline77 commented on #128
I will take a look at this.

[2020-06-23 11:39] MrOffline77 commented on #126
Hi @zetxek does the 16211bb solved this problem too, so we could close this issue, correct ?

[2020-06-23 11:54] zetxek commented on #126
Yes, 16211bb fixes this issue. We can close!

[2020-06-23 11:54] #126 closed

[2020-06-24 15:21] Kasui92 commented on #121
Hello @MrOffline77 !
It works perfectly. Thank you very much!

[2020-06-24 15:42] #121 closed

[2020-06-27 03:14] nathanielkam commented on #108
Experiencing the same issue on php 7.3 branch. Will submit a PR for them shortly.

@crscaballero 's fix worked for me.

[2020-06-27 03:21] nathanielkam commented on #108
Sorry didn't commit that with the best message, but here is the fix.  https://github.com/sprintcube/docker-compose-lamp/pull/132

[2020-06-30 18:41] MrOffline77 commented on #128
@STV11C if added the modules. Please get a fresh clone of master and make sure that your webserver image is rebuilding without caching.  Wordpress should work then. Please verify and let me know.

<img width="963" alt="Bildschirmfoto 2020-06-30 um 20 39 04" src="https://user-images.githubusercontent.com/43014876/86164385-fa83c800-bb11-11ea-9460-e72336412632.png">
<img width="949" alt="Bildschirmfo

[2020-06-30 18:45] MrOffline77 commented on #120
This issue looks abdoned, so I'm going to close this.

[2020-06-30 18:45] #120 closed

[2020-07-08 08:36] trelljaret opened #133 "[BUG] Error reading the CPU table"
**Describe the bug**
On 'Building webserver' step, it fails on the command 'RUN apt-get'

**which Branch / PHP Version are you using ?**
php74

**To Reproduce**
Steps to reproduce the behavior:
1. Setup an Ubuntu Mate 18.04.3 VM
2. Install docker snap
3. install docker compose
4. Do the rest as described in the manual of this repository

**Expected behavior**
It will fail with permission error pro

[2020-07-08 18:34] MrOffline77 commented on #133
Hi @trelljaret
I've just verified that the php72 image is building. No Problems here with MacOS and Docker. I'm not an Ubuntu expert. Maybe some apparmor thing or a privilege thing. You can try to run the Containers in privileged mode. Looks like your Container is not allowed to access your network stack for some security reasons.

[2020-07-09 01:11] robbo-wb opened #134 "[FEATURE]"
I am having trouble adding cron capabilities to the DockerFile

I have added the lines:

[code]

When I rebuild the container, start it with the docker-compose and exec into the container I can see the following:

1. Cron is installed (present /etc/init.d and /usr/sbin)
2. Executing crontab -l shows the expected crontab
3. Executing service --status-all shows that the cron service is stopped.

I c

[2020-07-09 05:40] trelljaret commented on #133
Looks like it was from docker snap.
The source of problem has been identified.  => `Docker Snap`
Using default manual install had no problems.
I will close this issue.

[2020-07-09 05:40] #133 closed

[2020-07-11 05:43] trelljaret opened #135 "[FEATURE] Add option for php errors to be logged"
I set my script up. And as always I got an error first. It was a 500 error.
But I checked out `logs/apache2/other_vhosts_access.log` and nothing was there.
I looked at `php.ini` but it seems like many error options are not enabled.
I don't really know that `php.ini` is related with the logging of what is really happening behind the scenes (which Im gonna test for next hours) But anyway, Its a good

[2020-07-11 06:07] trelljaret commented on #135
I have added these lines to `php.ini`
[code]
And seems like its working now.
I think this feature is not mandatory that much :thinking: But anyway I think this issue will help future users.
Will close this issue.

[2020-07-11 06:07] #135 closed

[2020-07-12 05:25] trelljaret opened #136 "[BUG] Can not create database on phpmyadmin. No privileges to create databases."
This is the error I get when I try to write a `CREATE DATABASE` query.

[code]

And this is the first page of phpmyadmin:

![image](https://user-images.githubusercontent.com/63227135/87239548-a5a35400-c425-11ea-8617-6b017a2227f3.png)

Please help on how to create a new database.

[2020-07-15 05:26] CountParadox commented on #136
Have you tried accessing mysql as user root?

when inside the container, run
[code]

[2020-07-16 07:31] trelljaret commented on #136
Yes, have done this at that time.
Db is created, But phpmyadmin is not affected (as I remember). It does not show the new database.
The problem is that mysql user `docker` can not craete database. And phpmyadmin is logged in as user `docker`, not `root`.

Anyway, I use mostly this project for testing. But I thought using this in production, so I wanted to know how to add new database.

[2020-07-23 13:39] MrOffline77 commented on #134
Hi,
you need to start an additional Docker container, since in each container should only run 1 PID. More information on this can be found [here](https://cloud.google.com/solutions/best-practices-for-building-containers. ). Inside the cron container, you need the exact same php version as used in the webserver. Afterwards you should mount the document root of the webserver. Furthermore it would be

[2020-07-27 14:29] Oddisey000 commented on #136
Actually there is a solution.
in **docker-compose.yml** file you need to specify 2 connection variables in **phpmyadmin:** part:
`PMA_USER: root
 PMA_PASSWORD: ${MYSQL_ROOT_PASSWORD}`

[2020-08-03 11:15] freebornforever opened #137 "How to add composer to LAMP Stack"
Please let me know how to add composer to docker-compose-lamp.

Thanks in advance

[2020-08-03 12:01] #137 closed

[2020-08-04 15:54] stloc commented on #137
have you the solution ?

[2020-08-04 16:06] freebornforever commented on #137
It already come with composer.

[2020-08-04 16:06] stloc commented on #137
how to run composer install after docker-compose up ?

[2020-08-04 16:10] stloc commented on #137
Warning: require(/var/www/vendor/autoload.php): failed to open stream: No such file or directory in /var/www/html/index.php on line 8

it is normal because we must install vendor on running but where to set composer install ?

[2020-08-04 16:11] freebornforever commented on #137
I used terminal in docker container to test it.

[2020-08-04 16:22] freebornforever commented on #137
composer was installed in /usr/local/bin try connect your container using terminal and test it

[2020-08-12 12:21] alessandroalessio opened #138 "[BUG] GD library not enabled"
In my latest installation of docker-compose-lamp with PHP 7.4 the GD libraries are not enable (and maybe installed). I've try to get phpinfo() and the items of GD  doesn't exist.

Anyone has this problem?

[2020-08-12 16:06] MrOffline77 commented on #138
Hi @alessandroalessio ,
I remember #112 - there was a GD issue. Do you use the "new" master branch, or are you using the php74 branch ? The GD change was only applied to the master branch. Maybe this is the problem.
If not, please let me know, then I will take a deeper look at this.

[2020-08-12 16:15] #128 closed

[2020-08-12 16:16] MrOffline77 commented on #138
I just created a fresh build of the php74 image against master branch. Php info tells me GD is enabled. Looks ok to me.

[2020-08-25 22:29] alexdrago commented on #138
I'm having that same problem too. And I don't have any old compilations.

[2020-08-29 12:48] kartikynwa opened #139 "[Question] How to properly change the username and password of the MySQL db?"
Hello. I am new to docker/docker-compose so pardon my ignorance.

I changed the username and password variables in the `.env` file. Then I ran `docker-compose build`. But after doing this, PHPMyAdmin cannot access the database anymore.

Thanks for making this repo public. It's very helpful. :)

[2020-08-29 16:29] MrOffline77 commented on #139
Hi,
I guess you started the stack previously. You need to remove everything from `data/mysql/*`. Afterwards mysql will start a new instance and will initialize with you new credentials.

[2020-08-31 13:39] kartikynwa commented on #139
It did work but I think the problem lies with the particular password I have chosen for the `$MYSQL_PASSWORD` environment variable since it contains symbols which are causing problems. Changing the password to something simpler like `testpass` works perfectly. I will test a bit more and let you know. Thanks a lot for the help.

[2020-09-03 14:32] kartikynwa commented on #139
Updated to docker-compose 1.26.2 (latest) which uses python-dotenv to parse the .env file. The issue still persists but I will close the issue because it looks like it is related to a limitation of docker-compose itself. Thanks for your help.

[2020-09-03 14:32] #139 closed

[2020-09-08 09:23] Dudo1985 opened #140 "How to install tidy?"
I've added this line

`RUN apt-get install -y php-tidy`

and then

`docker-php-ext-install tidy`

on my php74/Dockerfile but with no luck, I've

`Unable to locate package php-tidy`

How can I install and enable tidy?

Thank you!

[2020-09-24 05:11] jagad89 commented on #67
This solve basic file operations problem.
But when I did git pull within the container, the newly updated files are not writable anymore. Is there any quick solution for that?

[2020-09-27 20:37] Taalaybek commented on #136
maybe ist's time to fix this issue?

[2020-10-03 08:33] Kasui92 opened #141 "[FEATURE] PEAR"
Hello,
For a project I am building I would need to be able to point to the pear.php file.
Browsing in the webserver container I was unable to locate it.

Am I wrong to look for it or is it just not implemented?

If so, could I have any indication of this?
I think it might be useful to have it for php version 5.4 and 5.6.

Thanks for the amazing work.

[2020-10-03 10:21] MrOffline77 commented on #141
Hello @Kasui92
thanks for the compliments. The `pear.php` is available at `/usr/local/lib/php/PEAR.php`.
Let me know if this solved your problem.

[2020-10-03 10:49] MrOffline77 commented on #140
Hello @Dudo1985
sorry for the delay. You can add this part after the docker-php-ext-install part in the dockerfile.
[code]

<img width="987" alt="Bildschirmfoto 2020-10-03 um 12 47 06" src="https://user-images.githubusercontent.com/43014876/94989661-c4be0780-0576-11eb-8c1b-0f750a4b7567.png">

Please let me know if this solved your problem.

[2020-10-03 10:50] MrOffline77 commented on #138
@alessandroalessio @alexdrago
Can you tell me how I can test and verify that GD ist working ?
Then I can take a deeper look at this.

[2020-10-03 11:33] Kasui92 commented on #141
Found It!
Problem solved.

Thank you for your help and have a good day!

[2020-10-03 11:33] #141 closed

[2020-10-03 11:36] MrOffline77 commented on #108
@nathanielkam Can you confirm that this is fixed with the latest commit ?

[2020-10-03 11:53] MrOffline77 commented on #95
Let me know if this issue is fixed know.

[2020-10-03 11:55] MrOffline77 commented on #136
Let me know if this issue is fixed know

[2020-10-16 15:12] Paviluf opened #142 "[BUG] You need to grant write permissions for PHP on the following directory: /var/www/html"
**Describe the bug**
You need to grant write permissions for PHP on the following directory: /var/www/html

**which Branch / PHP Version are you using ?**
php71

**To Reproduce**
Steps to reproduce the behavior:
Install Prestashop 1.7

**Expected behavior**
Prestashop should be installed

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04
 - Chrome
 - Docker Version:
[cod

[2020-10-19 10:59] MrOffline77 commented on #142
Are you using WSL ?
#67 could solve your issue.

[2020-10-21 18:16] Paviluf commented on #142
Perhaps but it seem to cause problems https://github.com/sprintcube/docker-compose-lamp/issues/67#issuecomment-698116189

I'm still experimenting with docker and I have modified your setup to potentially fix this issue and to have the docker config in a .docker folder (with development files in the parent directory). Since I'm still experimenting I'm not sure if it's ok but it seem to work.
https:

[2020-10-21 18:17] Paviluf commented on #142
No I'm on Ubuntu

[2020-10-21 22:41] ayoubgm commented on #95
The lamp_databse container keep restarting him self and can't open bash, and logs of the container it keeps aborting
<img width="1594" alt="Screen Shot 2020-10-21 at 11 40 01 PM" src="https://user-images.githubusercontent.com/46103801/96794847-dcaadd80-13f6-11eb-9d83-a9174680be29.png">

[2020-10-30 11:31] semenov-anton-a opened #143 "[BUG]Composer ext-yaml *"
**Ubuntu 20.4**

**Docker version 19.03.13, build 4484c46d9d**

**_as bin/php74/Dockerfile_**
________________________________________________
**[DOCKER]root@da177776ee76:/var/www# php -v**
PHP 7.4.2 (cli) (built: Feb  1 2020 19:39:30) ( NTS )
Copyright (c) The PHP Group
Zend Engine v3.4.0, Copyright (c) Zend Technologies
    with Xdebug v2.8.0, Copyright (c) 2002-2019, by Derick Rethans
_________

[2020-10-30 11:52] #143 closed

[2020-11-02 09:12] Dudo1985 commented on #140
I've been finally able to test it, and it worked.

Will you consider to insert it?

Thank you!

[2020-11-28 08:06] rbeygi opened #144 "http issue on centos"
hi
this is awesome docker compose file but i have problem on http. when i run every php image http port not enable but mysql redis and phpmyamin work fine also i check on several server and i have same issue and i check with default config.

[2020-12-03 18:36] f-ricci commented on #136
@MrOffline77 this fix is not available on branch 7.4.x

[2020-12-10 18:53] MrOffline77 commented on #144
Please rephrase you problem. I don't get it :D.

[2020-12-10 18:54] MrOffline77 commented on #140
Feel free to create a pull request an explain why we or most php devs need this :).

[2020-12-10 18:54] #140 closed

[2020-12-10 18:55] MrOffline77 commented on #136
@f-ricci thats because the branch based php version model is legacy and not supported anymore. Please use the master branch. More information about this is in the master readme and in the branch readme's.

[2020-12-15 13:26] MrOffline77 commented on #144
Stale issue close

[2020-12-15 13:26] #144 closed

[2020-12-21 22:28] ohthehugemanatee commented on #142
I also found that adding a `user` directive in docker-compose doesn't affect which user owns the apache2 process. The only way to grant access to files is to `chown 33:33` on the host system. :(

Running Manjaro.

[2021-01-07 17:06] martin-nc opened #148 "'Privilege' is spelled wrong"
Just passing through, but noticed on line 38 of `sample.env`that 'privileges' is spelled 'priviliges'. There should be an 'e' after the 'l'.

[2021-01-08 16:43] Blaik59 commented on #142
Add in your php Dockerfile
`RUN usermod -u 1000 www-data`

[2021-01-11 13:44] MrOffline77 commented on #148
OoOoOps my fault. Thanks for mentioning ! I'm going to fix this quickly.

[2021-01-11 13:46] #148 closed

[2021-01-30 18:40] amfische commented on #13
Hello, please let me know if I should open a new issue.

I'm trying to run `PHP 7.2` using the `PHP72/Dockerfile` and I'm running into the same issue here. Docker Compose fails when trying to install xdebug from pecl.

[code]

I tried following the instructions linked above in the laradock comment, and added the `http_proxy` variables to the `args` section and the Dockerfile but it didn't work for

[2021-02-04 21:06] elhenro commented on #142
I have the same problem and adding
`RUN usermod -u 1000 www-data`
did not help

[2021-02-04 21:24] elhenro commented on #142
setting `..:rw` in `docker-compose.yml` fixed my permission problem

[2021-02-20 07:30] Abhinav1217 opened #150 "[Question] How to setup localhost domain name for dockerised site."
During localhost development, I have a habit of assigning domain names like
[code]

How do I modify my `/etc/hosts` to create such domains for docker container.

I am currently tasked to update an old legacy project from 5.6 to 7.4.

I have managed to modify the docker files to have both `php 5.6 at localhost:8056` and `php 7.4 at localhost:8074` running same time (currently sharing same db contai

[2021-02-22 11:58] dealenx commented on #150
Hello,

You need to set an environment config for your container:
[code]

And  of course to do same with your second  container.

Hope it helps.

[2021-03-25 20:23] grassiew opened #152 "Ldap support"
First off thank you for this.

Second I would love to use this for a site which needs to access a local ldap server.  Could you please ad ldap support to this?

[2021-03-27 15:22] MrOffline77 commented on #150
Closed since this looks like it is resolved. Thanks @dealenx

[2021-03-27 15:22] #150 closed

[2021-03-27 15:24] MrOffline77 commented on #152
Hi @grassiew
You can add the ldap connection via the apache vhost config file. For further details please take a look at the apache documentation.
I wish you the best success with you site.

[2021-03-27 15:24] #152 closed

[2021-03-30 04:43] Abhinav1217 commented on #150
Sorry I totally forgot to reply to this. Yes it worked. I had some trouble with dynamic subdomains which took some hit and trials with configurations in .htaccess for it to work.

[2021-04-07 13:14] gdsoftdev commented on #142
worked for me

[2021-04-19 17:34] shmox75 opened #153 "[BUG] Apache http 500 error on .woff2 Fonts"
I have server error in apache for .woff files so I need to addType in httpd.conf, is it possible ?
Because I got http 500 error on .woff2 (fonts)

`AddType application/font-woff  .woff2`

[2021-05-08 15:59] tomrwaller opened #156 "All files generated in the container are set to root (0) owner and group"
**Describe the bug**
I'm using the container to work on various CakePHP projects. When I run the container and enter bash to create the CakePHP project, all files are owned by root. By default, I cannot write to the created folder structure from a VSCode remote session. I can connect to the host and chown the files which temporarily solves the issue, but as cache files are generated fairly often a

[2021-05-25 07:26] ankit7540 opened #158 "Installing composer as well"
Could someone clarify how to go ahead with the installation of composer as well, within this docker-compose instance.

I added the following at the end of the `docker-compose.yml`  :

[code]
Inside the folder, `/config/composer` I place `composer.json` file, listing the packages to include.
Upon starting this, the composer instance gives error and does not start.
The error;

[code]
followed by,
`c

[2021-05-28 08:47] ankit7540 commented on #158
I got it working by including the following in yml file.

[code]

with `compose.json` in `./www/admin/php`

[2021-05-28 08:47] #158 closed

[2021-06-16 14:50] Edgecrusher2112 opened #159 "OPCode Caching Drupal 8"
I am new to Docker, and having a mess about with this container.

I am trying to install Drupal 8 on it. I know it's end of life is in November but a friend's hosting is a bit behind so want to use Docker to match the hosting specs). I want to use a Docker LAMP setup for other bits and pieces too on the same shared hosting so have stayed away from some Drupal Docker containers, think it suits me b

[2021-06-16 15:28] MrOffline77 commented on #159
Try to point your drupal to a Database Host not running on 127.0.0.1.
You need to tell him to connect to `database` like the name of the container in the compose file. You can checkout the php mysql connection test file in the `www` directory for an  example.

[2021-06-17 22:11] Edgecrusher2112 commented on #159
Thanks for this. I will get a chance to have a look tomorrow.

[2021-06-27 08:14] sandipt27 opened #160 "How to Copy and Install Security Certificate file"
I have **abc.cer** Certificate file stored at root level viz., C:\docker-compose-lamp which for security reasons needs to be installed.  In one of other setup I used back in past, I used to mention the line "COPY abc.cer /usr/share/ca-certificates/abc.cer" in Dockerfile at root and it was working fine.  Here, there is no Dockerfile at root so I picked up php8 Dockerfile at C:\docker-compose-lamp\b

[2021-06-27 08:21] sandipt27 opened #161 "To Enable more modules"
The README.md file states that _If you want to enable more modules, just update `./bin/webserver/Dockerfile`_

But I checked and there is no Directory named "webserver" and no file named "Dockerfile" in it.  I understand, I might need to create one.  But I don't know what format should that file be ?  If you could give one sample file to use for WebServer, would be great.  That would minimize the

[2021-06-28 03:44] sandipt27 opened #162 "[BUG] Fails to install 'xdebug', 'json', 'opcache', 'redis' and 'imagick'."
**Describe the bug**
In my Dockerfile in C:\docker-compose-lamp\bin\php8 I have
1. **Mentioned line** : docker-php-ext-enable xdebug
**Gives error** : No releases available for package "pecl.php.net/xdebug"
executor failed running [/bin/sh -c pecl install xdebug-3.0.0 &&     docker-php-ext-enable xdebug]: exit code: 1
2. **Mentioned line** : RUN pecl install redis-5.3.3 && docker-php-ext-enable re

[2021-06-28 09:15] MrOffline77 commented on #162
This sounds like a local problem. I can't reproduce this.

[2021-06-28 09:17] #162 closed

[2021-06-28 09:19] MrOffline77 commented on #161
You can edit the `./bin/phpX/Dockerfile` File to add you modules.
I'm going to fix this reference in the readme.

[2021-06-28 09:19] #161 closed

[2021-06-28 09:20] #159 closed

[2021-06-28 09:22] MrOffline77 commented on #160
You can reference to a local certificate in the vhost config and mount the file as volume into the docker container.
In the docker-compose file are some places were volumes are used. Just add your line and modify by your needs.

[2021-06-28 09:22] #160 closed

[2021-06-28 09:23] MrOffline77 commented on #153
You should be able to set this setting inside the vhosts config inside the `config`dir.

[2021-06-28 09:23] #153 closed

[2021-06-30 16:31] WillyBaldy opened #163 "Max upload for PHPMyAdmin"
It seems that to be able to set the max file upload limit for PHPMyAdmin (for imports) the default php.ini file in ./config/php won't work. I'm not sure if it ever worked, but there's a /usr/local/etc/php/conf.d/phpmyadmin-misc.ini file that interferes with this. The proper way to set the upload limit of the PHPMyAdmin docker container is by using environment variables. In my .env I added:

[code]

[2021-07-03 22:08] VladimirMaljkovic opened #164 "PHP version isn't applying[BUG]"
When I set the php version using .env file, that container gets the latest version of php anyway

**which Branch / PHP Version are you using ?**
php74

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repo
2. `cp sample.env .env`
3. Inside the .env file, set PHPVERSION=php74 and DATABASE=mysql
4. `docker-compose up`

**Expected behavior**
I get php version 7.4

**Actual behaviour**
My ph

[2021-07-03 22:11] MrOffline77 commented on #164
Just add the build flag to rebuild the container or you can remove the existing image.
`docker-compose build `

[2021-07-03 22:38] VladimirMaljkovic commented on #164
I'm a dummy, thanks so much

[2021-07-03 22:38] #164 closed

[2021-07-12 05:01] akulmambetov opened #166 "[BUG] Cannot find save handler 'redis'"
**Describe the bug**
No connection to redis

**which Branch / PHP Version are you using ?**
php74

I tried

my php.ini config
[code]

![Screenshot_20210712_105825](https://user-images.githubusercontent.com/54025480/125233506-84a76480-e300-11eb-8772-950c9d1e0945.png)

[2021-07-18 04:56] jeetendra-choudhary opened #167 "[BUG] - failed to solve with frontend dockerfile.v0: failed to create LLB definition: no match for platform in manifest"
**Describe the bug**
When I am trying to build the image with MySql8 and PHP 8 I am not able to build the image it fails with error - `Service 'Database' failed to build : Build failed.

**which Branch / PHP Version are you using ?**
php8

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repository
2. Update the environment file as required
3. Run command - #docker-compose build  or #doc

[2021-07-22 15:25] GillesVanPellicom opened #168 "No such file or directory in /var/www/html"
PHP puts /var/www/html/ in front of my include link, making it not find the file. I don't know if this is default PHP behaviour or not since I never had this problem with XAMPP. It does not work when I put the file in the dir PHP wants it to be, it does not work when I change any config, and I don't know what else to try.

![image](https://user-images.githubusercontent.com/64143501/126664545-01acb

[2021-07-22 18:33] GillesVanPellicom commented on #168
Nevermind. I was remembered of the fact that php does not know how to give proper errors. I solved it, it has nothing to with this.

[2021-07-29 16:49] wdebusschere commented on #163
@WillyBaldy Thank you for this, solved our problem!

[2021-07-30 03:26] maxshng opened #169 "lamp-php8 always restart when defined vhost with SSLEngine on [BUG]"
**Describe the bug**
lamp-php8 always restart when defined vhost with SSLEngine on

**which Branch / PHP Version are you using ?**
php8

**To Reproduce**

Steps to reproduce the behavior:

[current directory is in ./docker-compose-lamp]
1. Go to './config/vhosts'

2. edit the default.conf with the following:
[note: Replaced all '<VirtualHost ... >' with '[VirtualHost ... ]' respectively as it cann

[2021-08-26 19:39] devcustrom opened #171 "[BUG] Not working on Windows"
**Describe the bug**
Just run on windows

**which Branch / PHP Version are you using ?**
php8

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/sprintcube/docker-compose-lamp.git
2. cd docker-compose-lamp/
3. cp sample.env .env
4. docker-compose up -d
5. Visit localhost and see
![image](https://user-images.githubusercontent.com/53150670/131025182-4f518428-ea95-4ab4

[2021-09-01 08:23] maxshng commented on #169
It is ok to run in ubuntu and WSL2 environment.
(1) For the cert issue, I have mapped the cert files from host to docker in the docker-compose.yml
(2) For the WSL2 environment, it is related to the directory access right issue. As a quick fix, don't use the file under /mnt/c/Users/.... but move all your files to /home/<user_name>/.... Most of the time that the docker instance "always restarting" i

[2021-09-01 08:23] #169 closed

[2021-09-01 08:27] maxshng commented on #169
Missed a point:
For SSL to be enabled in php, one need to go to the corresponding ./bin/<php_version>/Dockerfile to add the "ssl" module during the startup process. For details, pls check the apache2/php manual or google.

[2021-09-03 13:49] MrOffline77 commented on #167
This is probably due to the Apple M1 chip. The chip is based on ARM and not on the x86 architecture. The Docker containers we build are derived from and built on Dockerhub upstream images. The upstream images don't seem to be built against the M1 so far. I'll take a look at that in the days to come to see if there are ARM images available in the meantime. We would then have to make that selectable

[2021-09-03 13:53] MrOffline77 commented on #171
Hi I can not currently understand the problem since I currently have a Windows available. Are you using WSL or directly docker on the Windows ?
I just built fresh against the master and everything works for me on the mac.

[2021-09-03 13:55] MrOffline77 commented on #163
#170 fixes this problem.

[2021-09-03 13:55] #163 closed

[2021-09-04 11:11] ralphskie commented on #171
just installed on docker for windows, and encountered this error.

Why, default .env mysql port is 3306, This is not available on my machine, so I change it to something 3310.
Issue **docker-compose up -d**

All services with "lamp-databse" should start succesfully. After that go to www/test_db_pdo.php and change 3306 on line 8 to 3310 or the port you use.

change
`$database = 'mysql:host=database

[2021-09-04 17:51] Markus-mlm commented on #171
I had the same but I tested the connection via pdo and mysqli with the provided links on the right side. Since this worked, I ignored the error on the left side.
Is this something I have to fix?

[2021-09-04 19:35] MrOffline77 commented on #171
Thanks for the reports everyone.

Ok lets summarize

Index.php
`$link = mysqli_connect("database", "root", $_ENV['MYSQL_ROOT_PASSWORD'], null);
`

Link on the right side:
`$link = mysqli_connect("database", "root", $_ENV['MYSQL_ROOT_PASSWORD'], null); `

Ok this looks the same. We could add a mysql port option to the env file and reference this env variable im the index.php and the two conn test l

[2021-09-08 07:41] danyk4 opened #172 "[BUG] Not working mysql on ubuntu 20.04"
**Describe the bug**
I changed in .env phpversion=56 and database=mysql
Phpinfo is working
On localhost errors:
Warning: mysqli_connect(): php_network_getaddresses: getaddrinfo failed: Temporary failure in name resolution in /var/www/html/index.php on line 34
Warning: mysqli_connect(): (HY000/2002): php_network_getaddresses: getaddrinfo failed: Temporary failure in name resolution in /var/www/html

[2021-09-08 13:14] MrOffline77 commented on #172
Can you exec in one of the containers and try a `ping mysql`please ?
Looks like the resolution of the linked containers are not working properly on your system.
Are you using some special docker network configs ?

[2021-09-08 14:57] dkostroma commented on #172
I enter

docker-compose exec webserver bash

then

root@3baf32a66ded:/var/www/html# ping database
bash: ping: command not found

then i enter

root@3baf32a66ded:/var/www/html# mysql -V
mysql  Ver 15.1 Distrib 10.1.48-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2

and then

root@3baf32a66ded:/var/www/html# mysql
ERROR 2002 (HY000): Can't connect to local MySQL server through socket '/va

[2021-09-08 14:58] dkostroma commented on #172
and no i have no  special docker network configs it's a fresh install

[2021-09-08 15:01] dkostroma commented on #172
root@3baf32a66ded:/var/www/html# service mysql status
mysql: unrecognized service

[2021-09-14 11:33] cljk commented on #171
I´m running it in WSL 2 on Win 10 - which works perfectly so far.

I *believe* what you are seeing could also be a compatiblity problem of mysql in docker container with hosted volumes on Windows as I recognize a comparable problem in the past. As I remember using host mounted volumes on docker for windows mysql starts up one time and then fails to start because of access right problems.

You coul

[2021-09-17 19:49] alexey-fetisov commented on #134
That would be great

[2021-09-25 13:02] #108 closed

[2021-09-25 13:03] #95 closed

[2021-09-29 13:35] tourtools commented on #172
same behaviour on macos bigsur:
[code]

[2021-09-29 13:57] tourtools commented on #172
to me it solves using "database" as the host:
[code]

[2021-10-19 20:39] jleboube opened #177 "Help with /var/www/html error"
I am trying to use this stack to deploy my own artifacts and run my site with this stack.  I continue to run into this issue where it complains about not being able to see /var/www/html.  I don't have a /var/www/html on my OS and I can't find where the container mounts it.  I'm not as worried about the db connectivity, as I can figure that out.  It is the /var/www/html that has me perplexed.

![Sc

[2021-10-20 00:58] jleboube commented on #177
Hi @armandojs ,

Thank you so much for taking the time to respond to my issue!!!  I will give this a shot.

[2021-10-21 06:44] phucsme opened #178 "[BUG] Can't change PHP version"
I changed PHPVERSION=php72 but when I create phpinfo.php to show phpinfo() but it's still PHP version 8.0.10

[2021-10-21 13:53] 287075872 opened #179 "[BUG] docker-compose up -d 出现问题 构建问题"
**Describe the bug**
A clear and concise description of what the bug is.

1. 运行 docker-compose up -d

Cloning into 'imagick'... fatal: unable to access 'https://github.com/Imagick/imagick/': Failed to connect to github.com port 443: Connection refused ERROR: Service 'webserver' failed to build: The command '/bin/sh -c cd /usr/local/src &&     git clone https://github.com/Imagick/imagick &&     cd

[2021-10-21 14:34] GiHey opened #180 "[BUG] phpmyadmin unsecure, no username or password needed"
**which Branch / PHP Version are you using ?**
php8

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to 'your IP on the PHPmyadmin-Port'
2. You will be locked in without password

I fixed it by editing the the environment variables for "phpmyadmin" in the docker-compose.yml. I deleted the whole login variables:
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: '${COM

[2021-11-06 21:52] Blackoasissun commented on #167
Is there something on that? I can confirm the error on a Apple M1 chip

[2021-11-10 18:38] multispace88 opened #182 "[BUG] failed to solve with frontend dockerfile.v0: failed to create LLB definition: no match for platform in manifest"
**Describe the bug**
I'm using this project for a couple of months now on my Windows computer without any problems. I now want to make it work on my MacBook too, but I'm running into the following error when I do `docker-compose up -d`:
[code]

**which Branch / PHP Version are you using ?**
php8

**Steps to reproduce**
On a brand new, untouched MacBook Pro (M1 Pro chip):
- Clone the repo
- Use def

[2021-11-10 18:45] multispace88 commented on #182
Noticed that this is a duplicate.

[2021-11-10 18:45] #182 closed

[2021-11-10 18:46] multispace88 commented on #167
@MrOffline77 any news on a possible M1 chip fix?
I can confirm the error stated above using a M1 Pro chip.

[2021-11-16 00:46] afarsh commented on #177
**For the database connectivity issue:**

Hey, I had a similar issue getting database connection fatal errors which took me a long time to realize and resolve (as a beginner). The fix was easy once you know it, of course. I am putting this here in case it helps anyone.

If you can't connect to mysql via localhost or 127.0.0.1 inside php container that is because there is no mysql installed in the

[2021-11-16 01:19] jleboube commented on #177
I agree. Once using the docker assigned IP address, connectivity was a breeze. Thanks for all of the help!

[2021-11-16 22:19] afarsh opened #184 "Importing database - container confusion"
I am a bit confused about the containers and I hope someone can clarify this. After running this 'docker-compose-lamp' image, the following containers are generated:

[code]
I understand that if I want to do any MySQL commands I have to ssh into the one named 'lamp-mariadb106'. And this works. But from which container do I import a database dump to this place using mysql command. The database dump

[2021-11-19 03:55] MahbbRah commented on #3
Docker Windows 10 WSL backend, updated file/folder permission but still the issue exists.

[2021-11-19 03:56] MahbbRah commented on #67
Docker Windows 10 WSL backend, updated file/folder permission but still the issue exists.

[2021-11-19 04:52] MahbbRah opened #185 "Laravel Project can't be used with this project"
**Describe the bug**
I was using a laravel project to set up with this docker container but unfortunately, I couldn't come up with a solution, tried all the stuff mentioned on the issues/solved list but still, it is not working

I set up laravel project in a subdirectory inside www dir. and the error I was getting is
``
Forbidden

You don't have permission to access this resource.
Apache/2.4.38 (D

[2021-12-08 03:07] u2dev commented on #172
change "localhost or 127.0.0.1" to "database" it work.

[2021-12-13 08:26] yayas87 commented on #178
This is not a bug,

- Once the php version is saved in .env file
- run the command in your terminal "docker-compose build" (make sure that, your in the project root folder before running the command)

[2021-12-15 09:59] MrOffline77 commented on #185
Hi, this sounds like a problem with your directory structure or directory permissions.
Please make sure the http config is pointing to your laravel public directory.
This does not sound like a bug in the lamp stack.

[2021-12-15 10:00] MrOffline77 commented on #166
Im not able to reproduce this. Is this still an issue with the latest code base and a clean setup ?

[2021-12-15 10:05] MrOffline77 commented on #167
Looks like php now got some M1 compatible containers. MySQL still does not have M1 "ok" container.
Please try to use mariadb and let me know what the errors are during startup. Sadly i have no M1 Hardware available at the moment. So i need you to help me a little bit :). Thanks for testing.

[2021-12-15 10:06] #166 closed

[2021-12-15 10:06] #136 closed

[2021-12-15 10:07] #178 closed

[2021-12-15 10:09] MrOffline77 commented on #172
I guess this works because the containers themself does not have a loopback localhost.
PHP and SQL Containers are glued together by docker-compose. Every Compose container is reachable by its name defined in the docker-compose.yml file.

[2021-12-15 10:10] #172 closed

[2021-12-15 10:11] MrOffline77 commented on #179
I'm not able to reproduce this issue. The php Container builds fine on my system. Please make sure you can reach github.

[2021-12-15 10:11] #179 closed

[2021-12-15 10:16] MrOffline77 commented on #184
You can reach the database from every listed container via the host `database`. Of course you need a mysql client too.
You can import an sql dump directly through phpmyadmin, or inside the `lamp_webserver`with the mysql cli client. `mysql -u root -p'password' -h database`.

[2021-12-15 10:19] MrOffline77 commented on #180
Hi, thats not a Bug in my opinion since this is development environment is supposed to run on localhost for development purposes only.

[2021-12-15 10:41] MrOffline77 commented on #177
Hi great to hear the community was able to help you.
Please let us know if we can describe database related things better in the readme. I'm open to pull requests regarding this, since the database questions are popping up quite often.

[2021-12-15 10:42] #177 closed

[2021-12-20 19:09] omps opened #188 "Unable to access my sites"
**Describe the bug**
my wordpress site is not able to connect to mysql

**which Branch / PHP Version are you using ?**
php74

**Steps to reproduce**
Steps to reproduce the behavior:
1. Go to 'i started the LAMP setup with docker compose -d and update the requisite files'
2. 'but when i open my site i am getting the database connection error though i am able to connect to database from mysql workbe

[2021-12-26 07:45] imokech commented on #188
I have faced same error too

[2022-01-01 08:30] omps commented on #188
How did you solved?

[2022-01-04 19:13] sergey-kukosh commented on #167
`version: "3"

services:
  webserver:
    build:
      context: ./bin/${PHPVERSION}
    container_name: '${COMPOSE_PROJECT_NAME}-${PHPVERSION}'
    restart: 'always'
    ports:
      - "${HOST_MACHINE_UNSECURE_HOST_PORT}:80"
      - "${HOST_MACHINE_SECURE_HOST_PORT}:443"
    links:
      - database
    volumes:
      - ${DOCUMENT_ROOT-./www}:/var/www/html
      - ${PHP_INI-./config/php/php.ini}:/u

[2022-01-05 01:58] panchalkalpesh opened #190 "[BUG] Xdebug does not work"
**Describe the bug**

Xdebug does not work when trying to debug the php application.

**which Branch / PHP Version are you using ?**
php8

**Steps to reproduce**
Steps to reproduce the behavior:
1. Clone sample.env to .env
2. Run in terminal: `docker-composer up -d`
2. Open VS Code
3. Install the Official PHP Debug Extension by Felix Becker
4. Open docker-compose-lamp directory in VS Code
5. Add t

[2022-01-10 15:02] devope opened #191 "Problem adding more hosts"
I am running this stack on VDS.

1. At first I created **/config/vhosts/test.conf**
[code]
2. Then I run `docker run lamp_webserver a2ensite test`
3. I get an error

Help me please, I'm learning this stuff, but don't know where to search info about my needs.
Thanks a lot, best wishes!

[2022-01-11 09:26] pritamdulam commented on #134
That would be great

[2022-01-14 20:27] omps commented on #188
Was able to solve it by configuring my database name in wp-config to use database name as 'database' which is the name of the container I am using, after which the **WordPress container** was able to connect to the DB.

[2022-01-14 20:27] #188 closed

[2022-01-15 20:18] MrOffline77 commented on #167
@sergey-kukosh please set your database version to the mariadb versions instead of the mysql images in the env file.

[2022-01-15 20:18] #167 closed

[2022-01-15 20:24] MrOffline77 commented on #171
I now have a Windows System available with debian wsl2 and docker desktop wsl2.
When using the mounted Windows Filesystems paths there is a problem with starting the mysql Container due to permissions issues.
When using the WSL2 own Filesystem of the Linux Subsystem Container instead of the mounts, the issue does not occur.
So basically you just need to `git clone` the project inside your WSL2 Lin

[2022-01-16 13:41] cljk commented on #171
If you are interested ... I have my mysql docker container with a modified configuration to be able to use host mounted volumes on Windows WSL.

Just add a volume mapping for a configuration file to your `docker-compose,yml`:

[code]

And place the file `docker/innodb-fix.cnf` in your project with

[code]

Works for me on mysql 5.7 and mysql 8.0.

[2022-01-17 19:35] MrOffline77 commented on #191
Hi @devope,
this stack is build for local development only. I would suggest to take a look at the official Apache webserver documentation to tackle your specific problem.

[2022-01-17 19:35] #191 closed

[2022-01-17 19:36] #185 closed

[2022-01-17 19:37] #138 closed

[2022-01-17 19:38] #184 closed

[2022-02-03 16:29] xmeunier commented on #171
Hello,

I still have the issue with php54 and mysql57

`PHPVERSION=php54
DATABASE=mysql57`

My configuration is very basic, i use defaults ports.
and my php code:

`$myhote="localhost";
$myuser="root";
$mypass="tiger";

$base_id = mysql_connect($myhote,$myuser,$mypass); `

And i have the following issue:

![image](https://user-images.githubusercontent.com/13940862/152384829-a3c529d7-531c-44ab-a13a

[2022-04-08 15:20] fhfrosacruz commented on #190
I have same problem with php 7.4, i solution was add lines in
# Install xdebug
RUN pecl install xdebug-2.8.0 \
    && echo 'zend_extension='$(find /usr/local/lib/php/extensions/ -name xdebug.so)'\n\
    xdebug.mode=debug\n\
    xdebug.remote_enable=1\n\
    xdebug.remote_host=host.docker.internal\n\
    xdebug.remote_enable=1\n\
    xdebug.remote_autostart=1' >> /usr/local/etc/php/conf.d/docker-ph

[2022-04-19 13:51] mitmelon opened #193 "Ngix [FEATURE]"
Please how do I use ngix server on this instead of Apache?

[2022-04-23 10:50] LoetLuemmel opened #194 "How to modify the network name?"
**Describe the bug**
Well, less kind of bug, but more looking for a hint. -
I try to modify the network name and so far couldn't find where 'lamp_default' is being set.

Could. someone please provide me with a hint?

Happy Hacking!

[2022-04-23 13:09] MrOffline77 commented on #194
Hi,
this should be controlled by this variable in the env file:
[code]

[2022-04-23 13:10] MrOffline77 commented on #193
Hi, we don't support Apache Webserver. Since nginx is not able to use mod_php module for php execution.

[2022-04-23 13:10] #193 closed

[2022-04-24 14:41] LoetLuemmel commented on #194
Well, that‘s the problem: The network name is ‚default_lamp‘.
My .env file just says ‚lamp‘.

Could there be another spot?

[2022-05-06 15:32] qhtml5 opened #196 "[FEATURE]How to configure https？"
https how to configure certs location settings

[2022-05-06 15:48] #194 closed

[2022-05-07 04:04] veslorens opened #197 "Creating Virtual Host (Detailed Guide)"
Kindly assist me on how to create a virtual host, a detailed guide please?
I am using port 82 with my Apache, accessing the project by (http://localhost:82)

[2022-05-14 20:14] oveien commented on #171
I had the problem in windows that mysql ignored all config files because they were world readable (Because of exported from Windows).

As I have no interest in accessing the database datafiles outside the container, I added a database volume to get persistent database data.

Under database in docker-compose.yml:
#      - ${MYSQL_DATA_DIR-./data/mysql}:/var/lib/mysql
      - databasedata:/var/lib/m

[2022-05-14 20:52] MrOffline77 commented on #171
Hi all,
finally I was able to reproduce this issue an fix it for all time :).
The issue occurs only, if you use wsl2 mounted volumes from Windows.
To solve the issue you can follow these Steps:

@WSL2
[code]
@Powershell
[code]
@WSL2
[code]

Restart your Compose stack.

[2022-05-15 15:51] MrOffline77 commented on #190
Hi,
we just added new code and better documentation to the project regarding xdebug.
Please let me know if your issue is still a thing, or if I can close this one :) Thank you

[2022-05-17 15:04] aldexxx86 opened #199 "Make it possible to configure database settings"
Make it possible to configure database settings that are usually found in the my.cnf file.
For example I would like to be able to set the following setting:
lower_case_table_names=0

[2022-05-20 12:23] alainseys commented on #199
Hy @aldexxx86,

you can do this by adding a volume entry to the database service like eg:
`- ${MYSQL_INITDB_DIR-./config/initdb/config/my.cnf}:/etc/my.cnf`

at the end of the volumes section you need to add a command to allow it to run it in sql_mode

`command: --sql_mode=""`

rebuild the image and you should be good to go

[2022-05-20 13:03] alainseys commented on #197
Hello @veslorens ,

1. Open default.conf
2. create your entry like project1.dev:80
3. Safe your file
4. open on your local machine a shell and edit /etc/hosts and add project1.dev to 127.0.0.1, safe the file

[2022-05-20 15:31] alainseys commented on #199
@aldexxx86

i have [added](https://github.com/sprintcube/docker-compose-lamp/pull/200) a pull request with a other approach

[2022-05-22 09:27] alainseys commented on #190
on php version 7.* the problem still persist on php 8 seems to work properly

[2022-05-22 10:03] alainseys commented on #196
@qhtml5 here should be the first step a good implementation to handle the dns request properly without any /etc/hosts adjustments here we can take a look at dnsmasq when this is implemented correctly you can create ssl certificates properly (without any ssl warnings)

[2022-05-22 10:08] alainseys opened #202 "Implementation DNSMASQ"
**About which PHP Version we are talking ?**

Implementation of DNSMASK

**Is your feature request related to a problem? Please describe.**
In stead of always using localhost or changing /etc/host we can use dnsmasq to handle the dns request between docker and the local machine this allows the developer to use eg: wordpress.test as host.

if this is implemented the next step can be the implementat

[2022-05-22 11:08] MrOffline77 commented on #202
Hi,
thanks for your contribution.
In #201 you advocate a PullRequest template. We have already implemented issue templates in the past, so best to use the flags we already have. I just added that for this issue.

Before we talk more about dnsmasq I first want to discuss the question if ssl termination is inside the scope of a local development environment inside the issue #196.

[2022-05-22 11:17] MrOffline77 commented on #196
Hi all,
thank your for your contribution to this project.
I would like to discuss with you if the SSL termination is in scope for the project.
The project serves as a local development environment. The question is to what extent the SSL termination is necessary here. To encrypt traffic ? To secure communication - if yes against what ?
Could you @qhtml5  explain us your usecase a little bit more, s

[2022-05-22 11:47] alainseys commented on #196
@MrOffline77 in my opinion a local dev en should be as close to an production environment so you can test you applications with ask enabled

[2022-05-23 06:54] alainseys commented on #180
@GiHey this is not a bug since this is a development enviroment it is ok to get logged in to the phpmyadmin the stack is not intented to use on a production system on production you should indeed use env variables , but the question is then if the stack is the best use for it...

[2022-05-26 20:06] sebastienbages commented on #197
Can you give an example, please?

[2022-05-26 20:10] alainseys commented on #197
@sebastienbages  see my sample this is required to get this to work for a dev env environment i have proposed to add dns mask so you can use an extension as testing environment i am still waiting on feedback for this.

[2022-05-29 19:12] alainseys commented on #196
Hi, @MrOffline77

since i dit not received any feedback i have made an implementation of this that is workable

with dnsmasq active your local system wil listen on the *.test TLD without any need of changing /etc/hosts

<img width="772" alt="Screenshot 2022-05-29 at 21 11 12" src="https://user-images.githubusercontent.com/19891785/170887593-4723c630-8430-4e1e-a7e9-9d1f67eff941.png">

[2022-05-30 10:58] veslorens commented on #197
@alainseys
Hi, got it working in the dev environment. Thank you!
But I need to append the port 82 in the domain, eg. project1.dev:82
How can we make it work without appending the port 82?

[2022-06-10 13:23] kPentagramm opened #204 "Can't access own database"
If I try to access the MariaDB via pdo with my own script in a subfolder of www, I always get error SQLSTATE[HY000] [2002] No such file or directory.
If I copy the script into the pdo-test-file it works fine.

[2022-06-11 22:25] xploz1on opened #205 "[BUG] phpmyadmin imagen arm64"
Hello all.
I suggest changing:
[code]
Just to:
[code]

If someone for example like me is running this on a "arm64" phpmyadmin will fail. Simple changing that makes it work for all architectures.

Other than that, everything is working perfect! My local dev has no issues.
I have a quick question. I will be moving the dev setup to a cloud server. It has a nginx-proxy-manager setup to redirect all su

[2022-06-15 14:26] okwudili opened #206 "Xdebug.mode=trace"
Xdebug.mode=trace not working
am getting connection reset by server.
Am using default docker-compose-lamp

[2022-06-16 23:10] #206 closed

[2022-06-19 20:56] alainseys commented on #205
@xploz1on tested this out on a arm system and phpmyadmin/phpmyadmin has indeed some issues on arm64, the image phpmyadmin is the new repo for phpmyadmin so a change can be executed.

that been said your question about moving the dev setup to a cloud server is not recommended for production usage.
But you can use the nxing proxy manager to handle the subdomain request change the value in the .env f

[2022-06-19 20:59] alainseys commented on #204
@kPentagramm

Can you post your used code and the used php version and MariaDB version

[2022-06-19 21:00] alainseys commented on #197
@veslorens  do you need more information about this ?

[2022-06-19 21:02] alainseys commented on #180
@MrOffline77 this can be closed i guess

[2022-06-24 12:59] #180 closed

[2022-06-29 17:40] blizzardengle commented on #196
For me I do a lot of API integrations for work and when testing integrations I can use `localhost` only if it has been secured: `https://localhost`. I also agree with:

I found that this desire has been around for a while in #40 and #68 but it appears it has been abandoned. I plan to modify my local LAMP stack (built with this repo) using, [Setup an Apache, PHP, and HTTPS development environment w

[2022-06-29 21:35] alainseys commented on #196
@blizzardengle  to implement https good you can take a look at dnsmask this will allow you to use a TLD like yourapplication.test with this implemented you can easy integrate https to your project

[2022-06-29 22:26] blizzardengle commented on #196
@alainseys thank you for the suggestion. I followed [Setup an Apache, PHP, and HTTPS development environment with Docker](https://dockerwebdev.com/tutorials/docker-php-development/) (with several modifications) and got `https` on `localhost` working.

I personally prefer this method because adding a new TLD like `yourapplication.test` is as simple as adding `yourapplication.test` to your computers

[2022-06-30 16:37] blizzardengle commented on #196
@alainseys just created the PR, see above comment. Since there is a little configuration involved here is a copy of the PR message:

<hr>

This PR ( #208 ) adds support for SSL (HTTPS) in the LAMP server. It was designed to add simple `https` support on `localhost` but can be used for any domain name.

### HTTPS on Localhost
To use `https://localhost` you will need to:
1. Use a tool like [mkcert](

[2022-07-04 06:50] Timoffey commented on #204
The same thing. php74, mariadb106. When I do
new PDO('mysql:host=localhost; dbname=dbname', 'root', 'root');
I have a Fatal error: Uncaught PDOException: SQLSTATE[HY000] [2002] No such file or directory

[2022-07-06 13:46] SnoxiK opened #209 "probleme with mysql"
Hello, thank you for this docker.

just a small problem I migrated the docker from windows (docker desktop) to synology I had a problem with the ips but that's fixed so my dockers run on different ips except mysql. so I don't know connect to the database can you help me please? instead of having database for the connection I would like to have an ip address.

I am with the basic files.
phh-8.1

i

[2022-07-06 17:06] MrOffline77 commented on #205
Hi all,
good point you mentioned here!
Fixed with merge of #208  :)

[2022-07-06 17:06] #205 closed

[2022-07-06 17:10] MrOffline77 commented on #209
Hi  @SnoxiK
inside the docker-compose.yml there is a section inside the database area at the end where it says `127.0.0.1 ....` . You need to change/remove this 127.0.0.1 part,  then the container should listen on your bridged network address like the webserver (your NAS adress).

[2022-07-06 17:22] MrOffline77 commented on #204
Ahoy everyone,
this should work
[code]
Please note here that the ``mysql:host`` is called ``database`` not ``localhost``, cause inside the docker-compose.yml we gave the container the name ``database``. To access the container from the webserver container via the linked loopback device you need to access it with its "Container Name", in this case ``database``.
Let me know if this works for you.

[2022-07-06 17:28] MrOffline77 commented on #196
@blizzardengle
Thank you for great explanations. Sound totally reasonable to me.
Since I now know the use case better and it looks like there is a real usecase even inside dev envs, I merged you pull #208.
Thank you very much for your contribution. Feel free to create pull or issues for other stuff you think is missing :).
Cheers

[2022-07-06 17:28] #196 closed

[2022-07-08 13:21] SnoxiK commented on #209
Can't get docker to go following command because there is version error with synology docker but it seems the right thing for normal dockerdesktop :)

[2022-07-13 12:14] tertek commented on #209
Did not work for me.

[2022-07-15 13:56] MrOffline77 commented on #209
I will check this today and if necessary I will provide a fix asap.

[2022-07-15 17:37] MrOffline77 commented on #209
Please rebuild your stack with `docker-compose up -d --build`. Should work now. Let me know of you still encounter any issues with the db container.

[2022-07-18 07:39] tertek commented on #209
Works like a charm. Tested on 20.04.4 LTS (Focal Fossa) in WSL.
thanks!

[2022-07-18 11:31] allcho opened #210 "You don't have permission to access this resource."
Hello
I did all with Readme.md and tried open website.local but getting error

**Forbidden**

**You don't have permission to access this resource.**
**Apache/2.4.38 (Debian) Server at website.local Port 80**

What the problem? How fix it? I using Ubuntu 22.04
My default.conf

[code]

My sample.env

[code]

/etc/hosts also I set

[2022-07-18 12:14] #210 closed

[2022-07-24 18:35] vilija19 commented on #190
I also have a problem with Xdebug.
I tried on PHP74 and PHP8 - not work.
Any advice?

[2022-07-26 06:11] smilemittal commented on #67
Having same issue using php8 and php74

[2022-07-29 11:57] dennisvanderpool commented on #209
I've got the same thing. Don't know what caused it. Moved the docker stack from Ubuntu to Arch Linux though. `docker-compose up -d --build` did not work for me.

dennis@server2:~/helloworld/website/docker-compose-lamp$ sudo docker-compose up
[+] Running 4/4
 ⠿ Network helloworld_default       Created

[2022-07-29 19:45] dennisvanderpool commented on #209
Got my issue fixed via a work-around. My issue was caused because I moved my containers over from an Ubuntu based server to a new Arch based server and thus pulled in the new docker images. The newer version has caused the issue.

Resolved the issue by:
1) Copying the /etc/mysql/my.cnf from the container to my docker host via `docker cp <containername>:/etc/mysql/my.cnf ./config/mysql/my.cnf`
2) A

[2022-07-30 18:31] vilija19 commented on #190
Workaround - I jumped to the old commit 52defc2. With this version XDebug works.

[2022-08-02 15:46] StruffelProductions opened #212 "[BUG] APACHE_DOCUMENT_ROOT isn't respected"
**Describe the bug**
The environment variable APACHE_DOCUMENT_ROOT is ignored, instead the default `/var/www/html` value is used.

**which Branch / PHP Version are you using ?**
php81

**Steps to reproduce**
Steps to reproduce the behavior:
Set up the .env file with these settings:
[code]
(The entire src-folder should be mounted to the container but only the path `/src/public` should be used as th

[2022-08-02 16:05] MrOffline77 commented on #212
Hi,
ehm so If I am not completely wrong ... you understand it not correct.
The document root var is used for a volume mount. This volume will be mapped from your pc to the default docroot inside the container. The Container expects the docroot under /var/www/html so therfore from the inside view of the container its totally okay when this is stays unchanged. The only thing you can control with the

[2022-08-02 16:16] MrOffline77 commented on #209
@dennisvanderpool I assume you have git pulled before the rebuild ?
You could try to delete you local docker image which is tagged with $COMPOSE_PROJECT-$databaseversion name to force a build.

[2022-08-02 16:17] #204 closed

[2022-08-10 11:00] alainseys commented on #67
do you run your docker daemon inside a wsl linux container or on the machine its self ?

[2022-08-24 05:57] Mibifinance opened #213 "[BUG] When using navigator to link the MySQL database, you will be prompted with 10061 error. The link cannot be made. How should this be handled?"
When using navigator to link the MySQL database, you will be prompted with 10061 error. The link cannot be made. How should this be handled?

[2022-09-07 15:09] martincho09 opened #214 "How to install sendmail extensions"
I have installed the docker-compose-lamp and its works great. But now I want to install more PHP extensions. I have read the file README.md but i really can´t do it.
Can someone help me? A step by step please.

[2022-09-20 09:25] tertek commented on #26
The initial sql will not trigger if you have saved data before in your database and it is bind to a volume. Removing the data on host machine resolved the issue for me.

[2022-10-07 12:34] omps opened #215 "Additional container for reverse proxy and wordpress"
**PHP 7.4; Wordpress; Nginx**

**Addition of Containers**
add separate wordpress container and an nginx container and use nginx container as reverse proxy,

**Internal ports will help inconsistent port mapping with localhost**
A reverse proxy because in which case we don't have to map the ports of all the internal containers to localhost and a single container can manage the request within the doc

[2022-10-16 21:12] benoitldr opened #216 "[BUG] MySQL connect failed to install spip"
**Describe the bug**
I cannot connect to database to install [spip](https://www.spip.net/en_rubrique25.html)
I have this two tests working
Test DB Connection with mysqli
Test DB Connection with PDO

**which Branch / PHP Version are you using ?**
php74
mariadb105
other config in .env is by dafault

Steps to reproduce the behavior:
1. `mkdir www/spip`
2. `cd www/spip`
3. `wget https://get.spip.net/s

[2022-10-16 23:21] arcanisgk commented on #215
Any example to do that???

[2022-10-16 23:22] arcanisgk opened #217 "[FEATURE] Use public intead of www??"
any way to use public directory instead of www for the document root directory?

[2022-10-16 23:28] arcanisgk opened #218 "[FEATURE] add other tools"
**_I don't know if other developers like these tools, but I do use them:_**
- incron: in some interoperable event, I need to detect when a file is found in a certain directory (is placed)... using incron can request a php script to be executed when a file is detected.
- cron: for automated work some event, notification or mail.
- cli: every cron must start with a php script in cli.

[2022-10-17 19:17] tarlepp commented on #216
Should this issue marked as closed - because it's look like the issue is solved?

[2022-10-17 19:19] tarlepp commented on #215
Hmm, for wordpress why not just use "official" images - https://hub.docker.com/_/wordpress ?

[2022-10-17 20:46] arcanisgk opened #219 "[BUG] can depploy php81 server"
after trying to settup my enviroment i get this error:

------

#0 0.943 Get:1 http://deb.debian.org/debian buster InRelease [122 kB]
#0 1.675 Get:2 http://deb.debian.org/debian-security buster/updates InRelease [34.8 kB]
#0 1.947 Get:3 http://deb.debian.org/debian buster-updates InRelease [56.6 kB]
#0 2.267 Get:4 http://deb.debian.org/debian buster/main amd64 Packages [7909 kB]
#0 15.45 Get:5 htt

[2022-10-18 15:16] killmasta93 opened #220 "[BUG] Issue with login on phpyadmin"
Hi
Currently fresh install the docker compose but when i try to access the phpmyadmin i get this error
trying to login with root and tiger

`
 mysqli_real_connect(): (HY000/2002): No such file or directory`

i checked the index.php which i found this which i was not sure if it has to be localhost or the name of my container phpmyadmin?

[code]
Thank you

[2022-11-01 12:50] t-franz commented on #91
I have the same problem:
MacOS: 11.7
Docker version 20.10.20, build 9fdeb9c
Docker Desktop: 4.13.0
Docker Compose: 1.29.2

Followed the instructions and it works:
[code]
I can access http://localhost and phpMyAdmin at http://localhost:8080/
Then i stopped and started the containers:
[code]
**... and mysql stopped working: mysql is cycling and tries to restart.**
The log file for the mysql8-Contain

[2022-11-01 13:12] t-franz opened #221 "mysql is always restarting. "Changing ownership of '/var/lib/mysql/mysql.sock': No such file or directory""
**Describe the bug**
The container status for mysql8 is "Restarting ...". I can't connect to MySQL

**which Branch / PHP Version are you using ?**
docker-compose.yml: Version 3
php8
mysql8

**Steps to reproduce**
Followed the instructions and it works in the first run:
[code]
I can access http://localhost and phpMyAdmin at http://localhost:8080/
Then i stopped and started the containers:
[code]
..

[2022-11-02 00:19] mjepps72 opened #222 "Warning: mysqli_connect(): Server sent charset (255) unknown to the client"
Just trying to get the sample via the readme running and having an issue with mysqli_connect charset. I don't see a configuration entry for changing this. Do you have any suggestions?

![image](https://user-images.githubusercontent.com/1972208/199365741-4242c15d-b874-44ea-bc57-f339e60c3ac9.png)

[2022-11-09 03:26] Dlogon opened #223 "SugarCRM dies after quick repair"
Hi

I don´t know if there is the place where I should put this.

I have an instance of SugarCRM, this instance is big, has a lot of customizations.
I try this beautiful repo, and the instance works after some changes like permissions into folder: I was having this problem
https://sugarclub.sugarcrm.com/dev-club/f/questions-answers/544/loading-displaying-on-screen-nothing-display-after-that-not-eve

[2022-11-10 12:32] leberman commented on #222
Please give us a little bit more information. Especially the docker container logs.
More infos about docker logs: https://docs.docker.com/engine/reference/commandline/logs/

[2022-11-21 03:58] ppronini opened #224 "[BUG] When trying to compose you get failed to solve"
**Describe the bug**
When you save it in one directory on Windows and try to build it, you get
[+] Building 0.0s (2/3)
 => [lamp-database internal] load build definition from Dockerfile                                                 0.0s
 => => transferring dockerfile: 2B                                                                                 0.0s
 => [lamp-webserver internal] load build

[2022-11-21 05:53] ppronini commented on #224
Found what the problem was I didn't copy sample.env to .env, sorry

[2022-11-21 05:53] #224 closed